.outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0;
    z-index: 3;
    animation: moveOuter;
    animation-delay: 500ms;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;

    .image {
        width: 70px;
        height: 70px;
        background-color: rgba(49, 58, 229, 1);
        animation: moveImg;
        animation-delay: 500ms;
        animation-duration: 2500ms;
        animation-fill-mode: forwards;
        z-index: 4;
        padding-left: 190px;
    }


    .text {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 33px;
        color: black;
        padding-left: 14px;
        margin-block-start: 0px;
        margin-block-end: 0px;
        animation: moveRight;
        animation-delay: 500ms;
        animation-duration: 2500ms;
        z-index: 3;
    }

    @keyframes moveOuter {
        0% {
            left: calc(50% - 282px);
            top: calc(50% - 92px);
            opacity: 1;
        }

        20% {
            left: calc(50% - 451.07px);
            top: calc(50% - 92px);
        }

        51% {
            left: calc(50% - 451.07px);
            top: calc(50% - 92px);
        }

        100% {
            top: 75px;
            left: 75px;
            opacity: 1;
        }
    }

    @keyframes moveRight {
        0% {
            margin-left: -390px;
            color: white;
            font-size: 66px;
        }

        20% {
            margin-left: -390px;
            color: white;
        }

        50% {

            margin-left: 0px;
            font-size: 66px;
            color: white;
        }


        100% {
            margin-left: 0px;
            font-size: 33px;
            color: black;
        }

    }

    @keyframes moveImg {
        0% {

            // margin-left: 190px;
            width: 186.98px;
            height: 184px;
        }

        50% {
            background-color: rgba(49, 58, 229, 1);
            width: 186.98px;
            height: 184px;
        }

        51% {
            background-color: rgba(49, 58, 229, 0);
            padding-left: 190px;
        }

        100% {
            background-color: rgba(49, 58, 229, 0);
            width: 70px;
            height: 70px;
            padding-left: 0px;
        }
    }
}

.layover {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(49, 58, 229, 1);
    z-index: 2;
    animation: layover;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
    animation-duration: 2500ms;
}

@keyframes layover {
    0% {
        background-color: rgba(49, 58, 229, 1);
        z-index: 2;
        height: 100vh;
        width: 100%;
    }

    51% {
        background-color: rgba(49, 58, 229, 1);
    }

    75% {
        background-color: (121, 126, 243, 1);
    }

    99% {
        z-index: 2;
        height: 100vh;
        width: 100%;
    }

    100% {
        background-color: rgba(121, 126, 243, 0);
        z-index: -1;
        height: 0px;
        width: 0px;
    }

}

@media screen and (max-width: 650px) {
    .outer {
        animation: moveOuterMobile;
        animation-delay: 500ms;
        animation-duration: 2500ms;
        animation-fill-mode: forwards;
    }
}

@keyframes moveOuterMobile {
    0% {
        left: calc(50% - 282px);
        top: calc(50% - 92px);
        opacity: 1;
    }

    20% {
        left: calc(50% - 451.07px);
        top: calc(50% - 92px);
    }

    51% {
        left: calc(50% - 451.07px);
        top: calc(50% - 92px);
    }

    100% {
        top: 92px;
        left: calc(50% - 122.15px);
        opacity: 1;
    }
}



@keyframes moveImgMobile {
    0% {
        width: 93.5px !important;
        height: 92px !important;
    }

    50% {
        background-color: rgba(49, 58, 229, 1);
        width: 93.5px !important;
        height: 92px !important;
    }

    51% {
        background-color: rgba(49, 58, 229, 0);
        padding-left: 190px !important;
    }

    100% {
        background-color: rgba(49, 58, 229, 0);
        width: 70px;
        height: 70px;
        padding-left: 0px !important;
    }

    
}

@keyframes moveRightMobile {
    0% {
        margin-left: -390px;
        color: white;
        font-size: 33px;
    }

    20% {
        margin-left: -390px;
        color: white;
    }

    50% {

        margin-left: 0px;
        font-size: 33px;
        color: white;
    }


    100% {
        margin-left: 0px;
        font-size: 20px;
        color: black;
    }

}