<div class="outer" *ngIf="!isWindowWidthLessThan650()">
                <img src="../../../assets/img/login/animation/Logo.png" class="image">
                <h1 class="text">DABubble </h1>
</div>
<div class="outerMobile" *ngIf="isWindowWidthLessThan650()">
                <img src="../../../assets/img/login/Logo.png" class="imageMobile">
                <h1 class="textMobile">DABubble </h1>
</div>

<div class="layover" *ngIf="!isWindowWidthLessThan650()"></div>
<div class="layoverMobile" *ngIf="isWindowWidthLessThan650()"></div>