<div class="user-container">
    <mat-dialog-content class="user-profile custom-menu">
        <div class="profile-overview-head">
            <span>Profil</span> 
            <img class="close-icon" mat-button mat-dialog-close src="assets/img/close.png">
        </div>

        <img class="user-img" src="{{ getUserData.loggedInUserData.img }}" />

        <!-- edit uploadImg by Bossi for upload img -->
        <!-- <div class="user-img" style="position: relative;">
            <input type="file" style="display: none;" #fileInput (change)="uploadService.selectFile($event)" accept=".png, .jpg, .bmp, .JPEG, .JPG, .svg, .tiff, .gif">
            <img  class="user-img" src="{{ getUserData.loggedInUserData.img }}" (click)="openFileExplorer()">
            <div class="user-img" style="display: flex; justify-content: center; align-items: center; position: absolute; top: 0px;" *ngIf="this.fileUploadService.profileImgUpload">
                <span style="background-color: black; color: white; width: 50px; text-align: center;">{{uploadService.percentage}}%</span>
            </div>
        </div> -->
       
        
        <div class="edit-div">
            <span class="head-span"> {{ getUserData.loggedInUserData.name }} </span> 
            <span mat-button mat-dialog-close (click)="editingProfile()" class="edit-span">Bearbeiten</span>
        </div>
        
        <div class="activity-div">
            <img *ngIf="loggedUserStatus" class="activity-icon" src="assets/img/online-icon.png">
            <span *ngIf="loggedUserStatus" class="online-span">Aktiv</span>
            <img *ngIf="!loggedUserStatus" class="activity-icon" src="assets/img/offline-icon.png"> 
            <span *ngIf="!loggedUserStatus" class="offline-span">Abwesend</span> 
        </div>
        <div class="mail-div">
            <img class="profile-icon" src="assets/img/mail-icon.png">
            <span>E-Mail-Adresse</span>
        </div>
        <span class="mail-span">{{ getUserData.loggedInUserData.email }}</span>
    </mat-dialog-content>
</div>
