<div class="box">
  <!-- Input -->
  <div #editableDiv contenteditable="true" class="inputDiv" id="inputDiv" (keyup)="getContent()" [innerHTML]="content">

  </div>

  <!-- <button (click)="saveHTMLTagsAndText()">Save</button>
    <button (click)="addHTMLTags()">addHTML</button> -->
  <!-- Input end-->
  <!-- InfoWindow -->
  <div class="infoWindow" *ngIf="inputService.showInputInfo">
    <p *ngIf="inputService.inputLinks[inputService.shownId].nameType == 'NameType'">
      {{inputService.inputLinks[inputService.shownId].name}}
    </p>
    <p *ngIf="inputService.inputLinks[inputService.shownId].nameType == 'NameType'">
      {{inputService.inputLinks[inputService.shownId].emailContent}}
    </p>

    <img *ngIf="inputService.inputLinks[inputService.shownId].nameType == 'FileType'" src={{inputService.inputLinks[inputService.shownId].linkTaget}} alt="" style="max-height: 200px; max-width: 200px; width: auto; height: auto;">

    <a href={{inputService.inputLinks[inputService.shownId].linkTaget}} target="_blank" *ngIf="inputService.inputLinks[inputService.shownId].nameType == 'FileType'">
      {{inputService.inputLinks[inputService.shownId].filename}}
    </a>
    <!-- <p *ngIf="inputService.inputLinks[inputService.shownId].nameType == 'FileType'">
      {{inputService.inputLinks[inputService.shownId].linkTaget}}
    </p> -->

  </div>
  <!-- InfoWindow ende-->

  <!-- User Box -->
  <div class="userBox" *ngIf="varService.sign">
    <div *ngFor="let name of dataService.userData; let i = index">
      <span class="user" (click)="selectedUser(i)">{{ name.name }}</span>
    </div>
  </div>


</div>