<div class="box">
    <!-- Input -->
    <div #editableDiv contenteditable="true" class="inputDiv" id="inputDiv" (keyup)="getContent()"
        [innerHTML]="content">

    </div>

    <!-- <button (click)="saveHTMLTagsAndText()">Save</button>
    <button (click)="addHTMLTags()">addHTML</button> -->
    <!-- Input end-->
    <!-- InfoWindow -->
    <div class="infoWindow" *ngIf="inputService.showInputInfo">
        <p *ngIf="inputService.inputLinks[inputService.shownId].nameType == 'NameType'">
            {{inputService.inputLinks[inputService.shownId].name}}
        </p>
        <p *ngIf="inputService.inputLinks[inputService.shownId].nameType == 'NameType'">
            {{inputService.inputLinks[inputService.shownId].emailContent}}
        </p>

    </div>
    <!-- InfoWindow ende-->

    <!-- User Box -->
  <div class="userBox" *ngIf="varService.sign">
    <div *ngFor="let name of dataService.userData; let i = index">
      <span class="user" (click)="selectedUser(i)">{{ name.name }}</span>
    </div>
  </div>
</div>
