<div class="contentContainer">
  <div class="content">
    <app-main-chat-head></app-main-chat-head>
    <div class="chatContainer">
      <!-- <app-main-chat-time-separator></app-main-chat-time-separator> -->
    </div>
    <div class="inputContainer">
      <textarea
        type="text"
        placeholder="Nachricht an #Entwicklerteam"
      ></textarea>
      <div class="iconsContainer">
        <div class="addElements">
          <img src="assets/img/add.png" />
          <div class="vector"></div>
          <img src="assets/img/satisfied.png" />
          <img src="assets/img/email.png" />
        </div>
        <div class="sendIcon"><img src="assets/img/send_icon.png" /></div>
      </div>
    </div>
  </div>
</div>
