<div class="contentContainer">
  <div class="content">
    <app-main-chat-head></app-main-chat-head>
    <div class="chatContainer">
      <span>chat</span>


      <div class="timeLine">
        <div class="timeLineHead">Dienstag, 14 Januar</div>
      </div>


    </div>
    <div class="inputContainer">
      <textarea
        type="text"
        placeholder="Nachricht an #Entwicklerteam"
      ></textarea>
      <div class="iconsContainer">
        <div class="addElements">
          <div class="element">
            <img src="assets/img/add.png" />
          </div>
          <div class="vector"></div>
          <div class="element">
            <img src="assets/img/satisfied.png" />
          </div>
          <div class="element">
            <img src="assets/img/email.png" />
          </div>
        </div>
        <div class="sendIcon"><img src="assets/img/send_icon.png" /></div>
      </div>
    </div>
  </div>
</div>
