.contentContainer {
  position: relative;

  .chatContainer {
    position: absolute;
    top: 100px;
    bottom: 185px;
    right: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    overflow-y: scroll;

    app-direct-chat,
    app-main-chat-channel-chat-field {
      width: 100%;
      height: 100%;
    }

  }
}

::-webkit-scrollbar {
  width: 0px !important;
}