.contentContainer {
  position: relative;
  .chatContainer {
    position: absolute;
    top: 115px;
    bottom: 185px;
    // right: 32px;
    // left: 32px;
    right: 12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    app-main-chat-message-chat-field,
    app-main-chat-channel-chat-field {
      width: 100%;
    }

    // .timeLine {
    //   position: relative;
    //   display: flex;
    //   justify-content: center;
    //   width: 90%;
    //   height: 2px;
    //   background-color: lightgray;
    //   .timeLineHead {
    //     position: absolute;
    //     top: -20px;
    //     display: flex;
    //     align-items: center;
    //     width: auto;
    //     height: 40px;
    //     padding: 0 16px;
    //     border: 1px solid lightgray;
    //     border-radius: 30px;
    //     background-color: white;
    //     font-family: "Nunito";
    //     font-weight: 400;
    //     font-size: 18px;
    //   }
    // }
  }

  // .messagesMainChat {
  //   display: flex;
  //   width: 100%;
  //   margin: 48px 0;
  //   padding: 16px 0;
  //   .avatar {
  //     display: flex;
  //     justify-content: center;
  //     width: 120px;
  //     height: 70px;
  //     img {
  //       width: 70px;
  //       height: 70px;
  //       border-radius: 40px;
  //     }
  //   }
  //   .messageContent {
  //     display: flex;
  //     flex-direction: column;
  //     gap: 8px;
  //     .nameTime {
  //       display: flex;
  //       height: 25px;
  //       gap: 20px;
  //       .name {
  //         font-family: "Nunito";
  //         font-weight: 700;
  //         font-size: 18px;
  //         cursor: pointer;
  //         &:hover{
  //           color: #535af1;
  //         }
  //       }
  //       .time {
  //         font-family: "Nunito";
  //         font-weight: 400;
  //         font-size: 14px;
  //         color: #686868;
  //       }
  //     }
  //     .messageBox {
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       width: fit-content;
  //       min-height: 55px;
  //       border-top-right-radius: 30px;
  //       border-bottom-right-radius: 30px;
  //       border-bottom-left-radius: 30px;
  //       padding: 0 24px;

  //       .message {
  //         font-family: "Nunito";
  //         font-weight: 400;
  //         font-size: 18px;
  //       }
  //     }
  //     .labelAnswersAndTime {
  //       display: flex;
  //       align-items: center;
  //       gap: 20px;
  //       .label {
  //         font-family: "Nunito";
  //         font-weight: 400;
  //         font-size: 18px;
  //         color: #535af1;
  //         cursor: pointer;
  //       }
  //       .time {
  //         font-family: "Nunito";
  //         font-weight: 400;
  //         font-size: 14px;
  //       }
  //     }
  //   }
  // }
}
