<div class="createAccountContainer">
    <app-start-animation></app-start-animation>
    <app-login-header></app-login-header>
    <div class="card">
        <form [formGroup]="createAccountForm" (submit)="createNewAccount()">
            <!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
            <mat-card>
                <img src="../../../assets/img/Login/forgot_password/arrow_back_black.png" class="arrowBlack" (click)="backToLogin()">
                <div class="arrowBlue">
                    <img src="../../../assets/img/Login/forgot_password/arrow_back_blue.png">
                </div>
                <mat-card-header>
                    <mat-card-title>Konto erstellen</mat-card-title>
                    <mat-card-subtitle>
                        Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto
                    </mat-card-subtitle>
                </mat-card-header>
                <div class="inputContainer">
                    <div class="inputInner">
                        <input type="name" placeholder="Name und Nachname" formControlName="name">
                        <img class="inputLogo" src="../../../assets/img/Login/person_filled.png">
                    </div>
                    <div *ngIf="createAccountForm.controls['name'].dirty && createAccountForm.controls['name'].touched"
                        class="warnContainer">
                        <span *ngIf="createAccountForm.controls['name'].errors">Bitte geben Sie min. 5 Zeichen ein.</span>
                    </div>
                </div>
                <div class="inputContainer">
                    <div class="inputInner">
                        <input type="email" placeholder="beispielname@email.com" formControlName="email">
                        <img class="inputLogo" src="../../../assets/img/Login/mail.png" style="position: absolute; left: 85px;">
                    </div>
                    <div *ngIf="createAccountForm.controls['email'].dirty && createAccountForm.controls['email'].touched"
                        class="warnContainer">
                        <span *ngIf="createAccountForm.controls['email'].errors">*Diese Email-Adresse
                            ist leider ungültig.</span>
                    </div>
                </div>
                <div class="inputContainer">
                    <div class="inputInner">
                        <input type="password" placeholder="Passwort" formControlName="password" [type]="inputType">
                        <img class="inputLogo" src="../../../assets/img/Login/lock.png" (click)="passwordViewToggle()" *ngIf="!passwordView">
                        <img class="inputLogo" src="../../../assets/img/Login/open_lock.png" (click)="passwordViewToggle()"
                            *ngIf="passwordView">
                    </div>
                    <div *ngIf="createAccountForm.controls['password'].dirty && createAccountForm.controls['password'].touched"
                        class="warnContainer">
                        <span *ngIf="createAccountForm.controls['password'].errors">Falsches Passwort, bitte nocheinmal
                            versuchen.</span>
                    </div>
                </div>
                <div class="btnAction">
                    <img src="{{addAS.pickedAvatar}}">
                    <button class="primaryButton" type="submit" [disabled]="!createAccountForm.valid || loading">
                        Weiter
                    </button>
                </div>
            </mat-card>
        </form>
    </div>
</div>
