.createAccountContainer {
    height: 100vh;
    background-color: #ECEEFE;
    overflow: hidden;
    overflow-y: scroll;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 81px;
        height: calc(100% - 142px);

        .arrowBlack {
            display: flex;
            position: absolute;
            top: 45px;
            left: 32px;
            cursor: pointer;
            background-color: white;
            z-index: 1;
            transition: 100ms ease-out;

            &:hover {
                opacity: 0;
            }
        }

        .arrowBlue {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            position: absolute;
            top: 45px;
            left: 32px;
            cursor: pointer;
            background-color: #ECEEFE;
        }

        mat-card {
            max-width: 606px;
            border-radius: 30px;
            background-color: white;
            align-items: center;
            display: flex;
            position: relative;

            mat-card-header {
                margin-bottom: 40px;
                display: flex;
                padding: 0px 16px 0;

                mat-card-title {
                    margin-top: 40px;
                    margin-bottom: 40px;
                    padding: 0px 52px;
                    font-family: 'Nunito Sans';
                    text-align: center;
                    font-weight: 700;
                    font-size: 46px;
                    line-height: 55.2px;
                    color: #444DF2;
                }

                mat-card-subtitle {
                    padding: 0px 52px;
                    font-family: 'Nunito Sans';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #000000;
                }
            }

            .inputContainer {
                height: 98.4px;
                width: 100%;

                .inputInner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    width: 100%;
                    gap: 10px;

                    input {
                        width: calc(100% - 207.2px);
                        height: 34.8px;
                        border-radius: 100px;
                        border: 1px solid #7E83F5;
                        padding: 11px 32px 11px 66px;
                        gap: 10px;
                        background-color: #ECEEFE;
                        font-family: 'Nunito';
                        font-weight: 500;
                        font-size: 18px;
                        cursor: pointer;
                    }

                    .inputLogo {
                        position: absolute;
                        left: 85px;
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                    }
                }
            }

            span {
                font-family: 'Nunito';
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #686868;
            }
        }
    }
}

.warnContainer {

    span {
        color: rgba(237, 30, 121, 1) !important;
        font-family: 'Nunito' !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 19.1px !important;
        padding: 0px 52px !important;
    }
}

.btnAction {
    margin: 40px 0px;
    width: calc(100% - 104px);
    display: flex;
    justify-content: flex-end;

    display: flex;
    justify-content: space-between;
    img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    // .primaryButton {
    //     height: 49px;
    //     padding: 12px 25px 12px 25px;
    //     border-radius: 25px;
    //     background-color: rgba(68, 77, 242, 1);
    //     transition: 100ms ease-out;
    //     font-family: 'Nunito';
    //     font-weight: 700;
    //     font-size: 18px;
    //     line-height: 24.55px;
    //     color: white;
    //     box-sizing: border-box;

    //     &:hover {
    //         background-color: rgba(121, 126, 243, 1);
    //     }

    //     &:enabled {
    //         cursor: pointer;
    //     }

    //     &:active,
    //     &:focus {
    //         background-color: rgba(68, 77, 242, 1);
    //     }

    //     &:disabled {
    //         background-color: rgba(104, 104, 104, 1);
    //     }
    // }
}

*::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar{
    width: 0;
  }
  

@media screen and (max-width: 769px) {
    .card {
        height: calc(100% - 300px) !important;
    }

    mat-card {
        padding: 20px 20px;
        max-width: 398px !important;
        margin: 0 16px;
    }

    .headerOuter {
        padding: 0px 20px !important;
        width: unset !important;
        height: unset !important;
    }

    mat-card-header {
        margin-bottom: 20px !important;
    }

    mat-card-title {
        font-size: 32px !important;
        margin-top: 25px !important;
        margin-bottom: 12px !important;
        line-height: 38.4px !important;
    }

    mat-card-subtitle {
        padding: 0px 0px !important;
        font-size: 17px !important;

    }

    .inputContainer {
        height: 78.5px !important;
    }

    input {
        width: 100% !important;
        padding: 6.6px 32px 6.6px 66px !important;
    }

    .inputLogo {
        left: 30px !important;
    }

    .btnAction {
        width: 100%;
        margin: 2.5px 0px 20px 0px !important;
    }

    .warnContainer {
        span {
            padding: 0 !important;
        }
    }
}