<div class="inputContainer">
  <textarea *ngIf="!varService.messagePNBox" type="text" placeholder="Nachricht an #Entwicklerteam"></textarea>
  <textarea *ngIf="varService.messagePNBox && !currentUser()" type="text" placeholder="Nachricht an {{dataService.userData[varService.selectedUserToMessage].name}}"></textarea>
  <textarea *ngIf="varService.messagePNBox && currentUser()" type="text" placeholder="Nachricht an mich :-)"></textarea>
  <div class="iconsContainer">
    <div class="addElements">
      <div class="element">
        <img src="assets/img/add.png" />
      </div>
      <div class="vector"></div>
      <div class="element">
        <img src="assets/img/satisfied.png" />
      </div>
      <div class="element">
        <img src="assets/img/email.png" />
      </div>
    </div>
    <div class="sendIcon"><img src="assets/img/send_icon.png" /></div>
  </div>
</div>
