<!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
<div>
  <h1 mat-dialog-title style="margin: 0px;">Profil Image Upload</h1>
</div>

<div mat-dialog-content>
  <p>1. Select the file you wan´t to upload.</p>
  <label for="inputFilename"  class="custom-file-upload" (click)="uploadService.percentage = 0">Select image</label>
  <input style="display: none;" id="inputFilename" type="file" class="text-nowrap text-truncate" (change)="uploadService.selectFile($event)" accept=".png, .jpg, .bmp, .JPEG, .JPG, .svg, .tiff, .gif" />
</div>
<div mat-dialog-content>
  <p>2. Upload this file to database.</p>
  <button [disabled]="!uploadService.selectedFiles" (click)="uploadService.upload()">Upload</button>
  <p>{{uploadService.percentage}}%</p>
  <p id='url' style="display: none;">{{uploadService.currentFileUpload?.url | json}} </p>
</div>
<div mat-dialog-content>
  <p>3. Click on Save.</p>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="loading" (click)="dialogRef.close()">Cancel</button>
  <button mat-button  [disabled]="loading || uploadService.percentage != 100" (click)="log()" >Save</button>
</div>
