<div class="container" *ngFor="let message of directChatService.directChat.chat; let i=index">
  <div class="timeLine" *ngIf="timelinesService.timeline[i]">
    <div class="timeLineHead">{{timelinesService.timeline[i]}}</div>
  </div>


  <!-- Left Site chat partner -->
  <div *ngIf="message.name != this.dataService.loggedInUserData.name" class="messagesMainChatLeft"
    (mouseenter)="hoveredMessagesMainChat = true" (mouseleave)="hoveredMessagesMainChat = false" [ngStyle]="{
        'background-color': hoveredMessagesMainChat ? '#eceefe' : 'white',
        transition: 'background-color 400ms'
      }">
    <div class="avatar"><img src={{dataService.userData[varService.selectedUserToMessage].img}} /></div>
    <div class="messageContent">
      <div class="nameTime">
        <span class="name" (click)="profileViewUsers()">{{message.name}}</span>
        <span class="time">{{ message.date }} {{ message.time }} Uhr</span>
      </div>
      <div class="messageBox" [style.background-color]="hoveredMessagesMainChat ? 'white' : '#eceefe'">
        <span class="message">{{message.message}}</span>
      </div>
      <div class="labelAnswersAndTime">
        <div class="time">Letzte Antwort 14:56</div>
      </div>
    </div>
  </div>


  <!-- Right Site logged User -->
  <div *ngIf="message.name == this.dataService.loggedInUserData.name" class="messagesMainChatRight"
    (mouseenter)="hoveredMessagesMainChat = true" (mouseleave)="hoveredMessagesMainChat = false" [ngStyle]="{
        'background-color': hoveredMessagesMainChat ? '#eceefe' : 'white',
        transition: 'background-color 400ms', 
      }">
    <div class="messageContent">
      <div class="nameTime">
        <span class="name" (click)="profileViewUsers()">{{message.name}}</span>
        <span class="time">{{message.date}} {{message.time}} Uhr</span>
      </div>
      <div class="messageBox" [style.background-color]="hoveredMessagesMainChat ? 'white' : '#eceefe'">
        <span class="message">{{message.message}}</span>

        <!-- testarea new message Data format -->

        <!-- <div class="outputBox">
          <div class="output" *ngFor="let entry of message.message; let index = index">

            <span class="infoBox" *ngIf="entry.email != 'unset' && showInfoBox == i">
              <span>Name: {{ entry.name }}</span>
              <span>Email: {{ entry.email }}</span>
              <span>userId: {{entry.userId}}</span>
            </span>
      
            <span
              *ngIf="index > 0 && entry?.span?.length > 0"
              class="member"
              (mouseenter)="showInfoOutput(i)"
              (mouseleave)="hideInfoOutput()"
              >{{ entry.span }}
            </span>
            <p class="messageOut">{{ entry.p }}</p>
          </div>
        </div> -->

        <!-- testarea new message Data format -->

      </div>
      <div class="labelAnswersAndTime">
        <div class="time">Letzte Antwort 14:56</div>
      </div>
    </div>
    <div class="avatar"><img src="{{ dataService.loggedInUserData.img }}" /></div>
  </div>

  <!-- <app-conversation-between
      *ngIf="!varService.conversationBetween"
    ></app-conversation-between> -->

</div>

<!-- Test von Basti -->
<!-- <app-message-output></app-message-output> -->
