.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 22px;

  .timeLine {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 2px;
    background-color: lightgray;

    .timeLineHead {
      position: absolute;
      top: -20px;
      display: flex;
      align-items: center;
      width: auto;
      height: 40px;
      padding: 0 16px;
      border: 1px solid lightgray;
      border-radius: 30px;
      background-color: white;
      font-family: "Nunito";
      font-weight: 400;
      font-size: 18px;
    }
  }

  // Right Site
  .messagesMainChatRight {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 48px 0;
    padding: 16px 0;

    .avatar {
      display: flex;
      justify-content: center;
      width: 120px;
      height: 70px;

      img {
        width: 70px;
        height: 70px;
        border-radius: 40px;
      }
    }

    .messageContent {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;
      margin: 0 32px;

      .nameTime {
        display: flex;
        justify-content: flex-end;
        height: 25px;
        gap: 20px;

        .name {
          font-family: "Nunito";
          font-weight: 700;
          font-size: 18px;
          cursor: pointer;

          &:hover {
            color: #535af1;
          }
        }

        .time {
          font-family: "Nunito";
          font-weight: 400;
          font-size: 14px;
          color: #686868;
        }
      }

      .messageBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        min-height: 55px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 0 24px;

        .message {
          font-family: "Nunito", "NotoColorEmojiLimited";
          font-weight: 400;
          font-size: 18px;
          margin: 16px;
        }
      }

      .labelAnswersAndTime {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;

        .time {
          font-family: "Nunito";
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }


  // Left Site
  .messagesMainChatLeft {
    display: flex;
    width: 100%;
    margin: 48px 0;
    padding: 16px 0;

    .avatar {
      display: flex;
      justify-content: center;
      width: 120px;
      height: 70px;

      img {
        width: 70px;
        height: 70px;
        border-radius: 40px;
      }
    }

    .messageContent {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
      gap: 8px;

      .nameTime {
        display: flex;
        height: 25px;
        gap: 20px;

        .name {
          font-family: "Nunito";
          font-weight: 700;
          font-size: 18px;
          cursor: pointer;

          &:hover {
            color: #535af1;
          }
        }

        .time {
          font-family: "Nunito";
          font-weight: 400;
          font-size: 14px;
          color: #686868;
        }
      }

      .messageBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        min-height: 55px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 0 24px;

        .message {
          font-family: "Nunito";
          font-weight: 400;
          font-size: 18px;
          margin: 16px;
        }
      }

      .labelAnswersAndTime {
        display: flex;
        align-items: center;
        gap: 20px;

        .time {
          font-family: "Nunito";
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
}

.outputBox {
  position: relative;
  // top: 50px;
  display: flex;
  // margin: 16px 32px;
  flex-wrap: wrap;
}

.output {
  display: flex;
}

.infoBox {
  position: absolute;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 16px;
  background-color: white;
}

.member {
  background-color: #eceefe;
  cursor: pointer;
  user-select: none;
  padding: 0 8px;
  margin: 0 8px;
  border-radius: 8px;
}

p {
  margin: 0;
}

.messageOut {
  font-family: "Nunito", "NotoColorEmojiLimited";
  font-weight: 400;
  font-size: 18px;
}