.thread-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .empty-chat-message {
    padding-left: 22px;
    padding-bottom: 20px;

    h2 {
      font-size: 24px;
      color: #000000;
    }

    a {
      color: #535af1;
    }
  }

  .timeline-container {
    margin-top: 30px;
    margin-bottom: 30px;

    .timeLine {
      position: relative;
      display: flex;
      justify-content: center;
      // width: 90%;
      height: 1px;
      background-color: lightgray;

      .timeLineHead {
        position: absolute;
        top: -20px;
        display: flex;
        align-items: center;
        width: auto;
        height: 40px;
        padding: 0 16px;
        border: 1px solid lightgray;
        border-radius: 30px;
        background-color: white;
        font-family: "Nunito";
        font-weight: 400;
        font-size: 18px;
        z-index: 1;
      }
    }
  }

  .full-message-left {
    width: 100%;
    // height: calc(50% - 100px);
    position: relative;
    // border-bottom: 1px solid #eeebeb;
    padding-bottom: 20px;

    .single-message-left-container {
      position: relative;
      transition: all 125ms ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: #eceefe;
        transition: all 125ms ease-in-out;
      }

      .interaction-bubble-left {
        position: absolute;
        display: none;
        top: -20px;
        right: 0px;
        width: 100px;
        height: 50px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        transition: display 125ms ease-in-out;
      }

      .interaction-bubble-emoji {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 6px;
        left: 8px;
        width: 40px;
        height: 40px;

        &:hover {
          background-color: #eceefe;
          border-radius: 100%;
        }
      }

      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 40px;
        height: 40px;

        &:hover {
          background-color: #eceefe;
          border-radius: 100%;
        }
      }
    }

    .single-message-left-container:hover .message-content-left {
      background-color: white;
    }

    .avatar-left {
      margin-left: 16px;
      padding-top: 16px;
      width: 70px;
      height: 70px;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
    }

    .message-details-left {
      margin-top: -70px;
      margin-left: 100px;
      width: calc(100% - 100px);
      display: flex;
      flex-direction: column;

      .name-time {
        display: flex;

        .name {
          font-family: "nunito";
          font-size: 18px;
          font-weight: 700;
          padding-right: 20px;
        }

        .time {
          color: #686868;
          font-family: "nunito";
          font-size: 14px;
        }
      }

      .message-content-left {
        // background-color: #eceefe;
        // border-radius: 0 20px 20px 20px;
        // width: fit-content;
        // padding: 16px;
        // max-width: 75%;

        display: flex;
        background-color: #eceefe;
        justify-content: center;
        align-items: center;
        width: fit-content;
        min-height: 55px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 24px;
        font-family: "Nunito", "NotoColorEmojiLimited";

        span {
          font-size: 16px;
        }
      }
    }

    .reaction-bar-left {
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-bottom: 12px;
      gap: 5px;
      margin-top: 6px;

      img {
        cursor: pointer;
        padding: 5px;

        &:hover {
          background-color: #eeebeb;
          border-radius: 10px;
        }
      }

      .reactions {
        margin-right: 20px;
        border: 1px solid #adb0d9;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        padding: 3px 15px;
        width: fit-content;
      }
    }

    .reaction-column {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      .emoji-mart {
        z-index: 999;
        position: relative;
        right: 100px;
      }
    }
  }

  .new-answers {
    color: #adb0d9;
    position: absolute;
    left: 10%;
    bottom: 0;
    display: flex;
    align-items: center;

    p {
      font-size: 18px;
      margin-bottom: 0;
      padding-right: 10px;
    }

    img {
      height: 2px;
      width: 50%;
    }
  }

  // ######  USER MESSAGE  ######

  .full-message-right {
    width: calc(100% - 20px);
    position: relative;
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid #eeebeb;

    .single-message-right-container {
      position: relative;
      transition: all 125ms ease-in-out;

      &:hover {
        // cursor: pointer;
        background-color: #eceefe;
        transition: all 125ms ease-in-out;
      }
    }

    .avatar-right {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: flex-end;
      padding-top: 16px;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    .message-details-right {
      position: relative;
      margin-top: -60px;
      margin-left: 0px;
      width: calc(100% - 100px);
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .interaction-bubble-right {
        position: absolute;
        top: -20px;
        left: 100px;
        width: 130px;
        height: 50px;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }

      .interaction-bubble-comment {
        cursor: pointer;
        position: absolute;
        top: 8px;
        left: 45px;
        width: 40px;
        height: 40px;
      }

      .interaction-bubble-emoji {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 6px;
        left: 8px;
        width: 40px;
        height: 40px;

        &:hover {
          background-color: #eceefe;
          border-radius: 100%;
        }
      }

      .material-symbols-outlined {
        cursor: pointer;
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        position: absolute;
        top: 8px;
        right: 8px;
      }

      mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 40px;
        height: 40px;

        &:hover {
          background-color: #eceefe;
          border-radius: 100%;
        }
      }

      .name-time {
        display: flex;
        flex-direction: row-reverse;

        .name {
          font-family: "nunito";
          font-size: 18px;
          font-weight: 700;
        }

        .time {
          color: #686868;
          font-family: "nunito";
          font-size: 14px;
          padding-right: 20px;
        }
      }

      .message-content-right {
        display: flex;
        background-color: #797ef3;
        color: white;
        justify-content: center;
        align-items: center;
        width: fit-content;
        min-height: 55px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0 24px;
        font-family: "Nunito", "NotoColorEmojiLimited";
      }
    }

    .reaction-bar-right {
      display: flex;
      padding-right: 10px;
      padding-top: 12px;
      gap: 5px;
      margin-bottom: 6px;
      margin-right: -120px;

      img {
        cursor: pointer;
        padding: 5px;
        background: transparent;
        border: 0;

        &:focus {
          outline: 0;
        }

        &:hover {
          background-color: #eeebeb;
          border-radius: 10px;
        }
      }

      .reactions {
        margin-right: 20px;
        border: 1px solid #adb0d9;
        border-radius: 20px;
        display: flex;
        justify-content: flex-end;
        padding: 3px 15px;
        width: fit-content;
        gap: 8px;
      }

      .reaction-column {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        width: 10px;

        .emoji-mart {
          z-index: 999;
          position: relative;
          left: 100px;
        }
      }
    }
  }

  .interaction-bubble-left {
    width: 500px;
    height: 300px;
    background-color: #eeebeb;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
}

.reaction-bar-right {
  display: flex;
  padding-right: 10px;
  padding-top: 12px;
  gap: 5px;
  margin-bottom: 6px;

  img {
    cursor: pointer;
    padding: 5px;
    background: transparent;
    border: 0;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &:hover {
      background-color: #eeebeb;
      border-radius: 10px;
    }
  }

  .reactions {
    margin-right: 20px;
    border: 1px solid #adb0d9;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 3px 15px;
    width: fit-content;
  }
}

.reaction-column {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 10px;

  .emoji-mart {
    z-index: 999;
    position: relative;
    left: 100px;
  }
}

.resposivView {
  cursor: pointer;
  color: blue;
}

// ###############################Bossi

// .messageBox {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: fit-content;
//   min-height: 55px;
//   border-top-left-radius: 30px;
//   border-bottom-right-radius: 30px;
//   border-bottom-left-radius: 30px;
//   padding: 0 24px;

//   .message {
//     font-family: "Nunito", "NotoColorEmojiLimited";
//     font-weight: 400;
//     font-size: 18px;
//     margin: 16px;
//   }
// }

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25px;
  width: fit-content;
  height: fit-content;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 16px;
  background-color: white;
  box-shadow: 5px 5px 15px -2px #000000;
  z-index: 10;

  img {
    fill: red;
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
  }

  .element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      background-color: #eceefe;
    }

    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: unset !important;
      top: 8px;
      right: 8px;
      width: 40px;
      height: 40px;
    }
  }
}

.outputBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  gap: 8px;
}

.output {
  display: flex;
}

@media (max-width: 800px) {
  .message-content-left {
    min-height: 40px !important;
  }

  .full-message-left {
    padding-bottom: 0 !important;
  }

  .message-details-right {
    margin-left: 12px !important;
  }

  .outputBox {
    margin: 0 !important;
  }

  .timeLineHead {
    top: -12px !important;
    height: 24px !important;
  }

  .name-time {
    padding-bottom: 6px;
  }
}
