<div class="thread-content">

  <!-- <div class="empty-chat-message" *ngIf="emptyChat">
    <ng-container *ngIf="
      dialogAdd.tagsData && varService.selectedChannel
    ">
      <h2>
        {{ dialogAdd.tagsData[varService.selectedChannel].name[0] }}
        {{ dialogAdd.tagsData[varService.selectedChannel].name.slice(1) }}
      </h2>
      <span>Du hast diesen Channel heute erstellt. Das ist der Anfang des
        Channels</span>
      <ng-container>
        <a>
          {{ dialogAdd.tagsData[varService.selectedChannel].name[0]
          }}{{ dialogAdd.tagsData[varService.selectedChannel].name.slice(2) }}
        </a>
      </ng-container>
    </ng-container>
  </div> -->


  <div *ngFor="let message of channelMessages.messageData, let i = index">
    <div *ngIf="message.channelId == this.dialogAdd.tagsData[this.dialogAdd.channelIndex].id">


      <div class="timeline-container">

        <div *ngIf="i !== 0">
          <div class="timeLine">
            <span class="timeLineHead"
              *ngIf='channelMessages.messageData[i-1].dateString != channelMessages.messageData[i].dateString'>
              {{ timelinesService.createTimlineText(message.dateString)}}
            </span>
          </div>
        </div>

        <div *ngIf="i == 0">
          <div class="timeLine">
            <span class="timeLineHead">
              {{ timelinesService.createTimlineText(message.dateString)}}
            </span>
          </div>
        </div>

      </div>



      <div class="full-message-left">
        <!-- Zeige Nachrichten auf der linken Seite des ausgewählten Kanals an -->

        <div class="single-message-left-container" *ngIf="message.userName != this.dataService.loggedInUserData.name"
          (mouseover)="onHover(i)" (mouseout)="onHoverEnd()">

          <div class="interaction-bubble-left" [style.display]="hoveredIndex === i ? 'block' : 'none'"
            [style.transition]="'display 125ms ease-in-out'">
            <div class="interaction-bubble-emoji">
              <img ngDefaultControl (click)="emojiPickerLeft= !emojiPickerLeft;"
                src="./../../../../assets/img/reaction.png">
              <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="emojiPickerLeft"
                (emojiSelect)="addEmojiLeft($event)" title="Choose your emoji">
              </emoji-mart>
            </div>
            <div (click)="channelMessages.openAnswer(i)">
              <mat-icon class="interaction-bubble-comment">
                comment
              </mat-icon>
            </div>
            <div></div>
            <div></div>
          </div>

          <div class="avatar-left">
            <img src="{{ message.userImg }}">
          </div>

          <div class="message-details-left">

            <div class="name-time">
              <div class="name">{{ message.userName }}</div>
              <div class="time">{{ message.dateString }} {{ message.clockString }}</div>
            </div>

            <div class="message-content-left">
              {{ message.content }}
            </div>
            <div class="reaction-bar-left">
              <div id="reactionBarLeft" *ngIf="chatEmojiLeft">
                <div matTooltip='{{ dataService.loggedInUserData.name }}' class="reactions">
                  <span>{{ reactionArrLeft }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="full-message-right">

        <!-- Zeige Nachrichten auf der rechten Seite des ausgewählten Kanals an -->
        <div class="single-message-right-container" *ngIf="message.userName == this.dataService.loggedInUserData.name"
          (mouseover)="onHover(i)" (mouseout)="onHoverEnd()">

          <div class="avatar-right">
            <img src="{{ dataService.loggedInUserData.img }}">
          </div>

          <div class="message-details-right">

            <div class="interaction-bubble-right" [style.display]="hoveredIndex === i ? 'block' : 'none'">
              <div class="interaction-bubble-emoji">
                <img ngDefaultControl (click)="emojiPickerRight= !emojiPickerRight;"
                  src="./../../../../assets/img/reaction.png">
                <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="emojiPickerRight"
                  (emojiSelect)="addEmojiRight($event)" title="Choose your emoji">
                  <!-- addEmoji(id oder index von nachricht) -->
                </emoji-mart>
              </div>
              <div (click)="channelMessages.openAnswer(i)">
                <mat-icon class="interaction-bubble-comment">
                  comment
                </mat-icon>
              </div>
              <div></div>
              <div></div>
            </div>

            <div class="name-time">
              <div class="name"> {{ message.userName }} </div>
              <div class="time"> {{ message.dateString }} {{ message.clockString }}</div>
            </div>

            <div class="message-content-right">
              {{ message.content }}
            </div>
            <div class="reaction-bar-right">
              <div class="reactions" id="reactionBarRight" *ngIf="chatEmojiRight"> <!-- id's stimmen nicht-->
                <div id="reactionsRight" matTooltip='{{this.dataService.loggedInUserData.name}}'>
                  <!--  reagierter User-->
                  <span *ngIf="this.reactionArrRight.length <= 1"> {{ reactionArrRight }} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>