<div class="thread-content">

  <div class="empty-chat-message" *ngIf="filterMessages()">
    <ng-container *ngIf="dialogAdd.tagsData && varService.selectedChannel">
      <h2>
        {{ dialogAdd.tagsData[varService.selectedChannel].name[0] }}
        {{ dialogAdd.tagsData[varService.selectedChannel].name.slice(1) }}
      </h2>
      <span>
        Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
      </span>
      <ng-container>
        <a>
          {{ dialogAdd.tagsData[varService.selectedChannel].name[0] }}
          {{ dialogAdd.tagsData[varService.selectedChannel].name.slice(2) }}
        </a>
      </ng-container>
    </ng-container>
  </div>

  <div *ngFor="let message of channelMessages.messageData, let i = index">
    <div *ngIf="message.channelId == this.dialogAdd.tagsData[this.dialogAdd.channelIndex].id">

      <div class="timeline-container">
        <div
          *ngIf="i !== 0 && channelMessages.messageData[i-1].dateString != channelMessages.messageData[i].dateString">
          <div class="timeLine">
            <span class="timeLineHead">
              {{ timelinesService.createTimlineText(message.dateString)}}
            </span>
          </div>
        </div>

        <div *ngIf="i == 0">
          <div class="timeLine">
            <span class="timeLineHead">
              {{ timelinesService.createTimlineText(message.dateString)}}
            </span>
          </div>
        </div>

      </div>

      <div class="full-message-left">
        <!-- Zeige Nachrichten auf der linken Seite des ausgewählten Kanals an -->

        <div class="single-message-left-container" *ngIf="message.userName != this.dataService.loggedInUserData.name"
          (mouseover)="onHover(i)" (mouseout)="onHoverEnd()">

          <div class="interaction-bubble-left" [style.display]="hoveredIndex === i ? 'block' : 'none'"
            [style.transition]="'display 125ms ease-in-out'">
            <div class="interaction-bubble-emoji">
              <img ngDefaultControl (click)="emojiPickerLeft= !emojiPickerLeft;"
                src="./../../../../assets/img/reaction.png" title="Emoji auswählen">
              <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="emojiPickerLeft"
                (emojiSelect)="addEmoji($event,i)">
              </emoji-mart>
            </div>
            <div (click)="channelMessages.openAnswer(i)">
              <mat-icon class="interaction-bubble-comment" title="Antworten">
                comment
              </mat-icon>
            </div>
            <div></div>
            <div></div>
          </div>

          <div class="avatar-left">
            <img src="{{ message.userImg }}">
          </div>

          <div class="message-details-left">

            <div class="name-time">
              <div class="name">{{ message.userName }}</div>
              <div class="time">{{ message.dateString }} {{ message.clockString }}</div>
            </div>

            <div class="message-content-left">
              <!-- {{ message.content }} -->
              <!-- testarea new message Data format -->

              <div class="outputBox">
                <div class="output" *ngFor="let entry of message.content; let index = index" (click)="console(entry)">
                  <span *ngIf="entry.tagType == 'text'">
                    {{entry.content}}

                  </span>
                  <span *ngIf="entry.tagType == 'SPAN'">
                    {{entry.content}}
                  </span>
                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'EmojiType'">
                    {{entry.content}}
                  </span>

                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'NameType'"
                    class={{entry.attributes[3].value}} (mouseenter)="showInfoOutput(index, i)"
                    (mouseleave)="hideInfoOutput()">
                    {{entry.content}}
                    <span class="infoBox"
                      *ngIf="entry.linkInfo[0].nameType == 'NameType' && showInfoBox == createInfoId(index, i)">
                      <span>{{ entry.linkInfo[0].name }}</span>
                      <span>{{ entry.linkInfo[0].emailContent }}</span>
                    </span>
                  </span>

                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'FileType'"
                    class={{entry.attributes[3].value}} (mouseenter)="showInfoOutput(index, i)"
                    (mouseleave)="hideInfoOutput()">
                    {{entry.content}}
                    <span class="infoBox"
                      *ngIf="entry.linkInfo[0].nameType == 'FileType' && showInfoBox == createInfoId(index, i)">
                      <div style="display: flex; justify-content: space-evenly; width: 100%;">
                        <div class="element" title="Datei in neuen Tab öffnen">
                          <mat-icon class="mat-icon"
                            (click)="inputService.openInNewTab(entry.linkInfo[0].linkTaget)">open_in_browser</mat-icon>
                        </div>
                      </div>
                      <img src={{entry.linkInfo[0].linkTaget}} alt="" *ngIf="!inputService.fileIsPDF(entry.content)">
                      <img src="../../assets/img/PDF.png" alt="" *ngIf="inputService.fileIsPDF(entry.content)">
                    </span>
                  </span>

                </div>
              </div>

              <!-- testarea new message Data format  end-->
            </div>


            <div class="reaction-bar-left">
              <div id="reactionBarLeft" *ngIf="chatEmojiLeft">
                <div matTooltip='{{ dataService.loggedInUserData.name }}' class="reactions">
                  <span *ngIf="channelMessages.messageData[index].messageEmojis.length >= 1">
                    {{ message[index].messageEmojis }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="channelMessages.messageData[i].amountAnswers > 0"
            style="position: absolute; left: 85px; margin-left: 16px; display: flex; justify-content: flex-start; gap: 10px;">
            <span style="display:flex; justify-content: flex-start; cursor: pointer; color: #797ef3; font-size: 15px"
              [class.resposivView]="varService.getInnerBrowserWidth() <= 800" (click)="channelMessages.openAnswer(i)"
              *ngIf="channelMessages.messageData[i].amountAnswers < 2">
              {{ channelMessages.messageData[i].amountAnswers }} Antwort </span>
            <span style="display:flex; justify-content: flex-start; cursor: pointer; color: #797ef3; font-size: 15px"
              [class.resposivView]="varService.getInnerBrowserWidth() <= 800" (click)="channelMessages.openAnswer(i)"
              *ngIf="channelMessages.messageData[i].amountAnswers >= 2">
              {{ channelMessages.messageData[i].amountAnswers }} Antworten </span>
            <span style="font-size: 13px;">Letzte Antwort {{ channelMessages.messageData[i].lastClockTime }}</span>
          </div>
        </div>
      </div>



      <div class="full-message-right">

        <!-- Zeige Nachrichten auf der rechten Seite des ausgewählten Kanals an -->
        <div class="single-message-right-container" *ngIf="message.userName == this.dataService.loggedInUserData.name"
          (mouseover)="onHover(i)" (mouseout)="onHoverEnd()">

          <div class="avatar-right">
            <img src="{{ dataService.loggedInUserData.img }}">
          </div>

          <div class="message-details-right">

            <div class="interaction-bubble-right" [style.display]="hoveredIndex === i ? 'block' : 'none'">
              <div class="interaction-bubble-emoji">
                <img ngDefaultControl (click)="emojiPickerRight= !emojiPickerRight;"
                  src="./../../../../assets/img/reaction.png" title="Emoji auswählen">
                <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="emojiPickerRight"
                  (emojiSelect)="addEmoji($event, i)">
                  <!-- addEmoji(id oder index von nachricht) -->
                </emoji-mart>
              </div>
              <div (click)="channelMessages.openAnswer(i)">
                <mat-icon class="interaction-bubble-comment" title="Antworten">
                  comment
                </mat-icon>
              </div>
              <div (click)="channelMessages.editOwnMessage(i)">
                <mat-icon class="material-symbols-outlined" title="Bearbeiten">
                  more_vert
                </mat-icon>
              </div>
              <div></div>
            </div>

            <div class="name-time">
              <div class="name"> {{ message.userName }} </div>
              <div class="time"> {{ message.dateString }} {{ message.clockString }}</div>
            </div>

            <div class="message-content-right">

              <!-- testarea new message Data format -->

              <div class="outputBox">
                <div class="output" *ngFor="let entry of message.content; let index = index" (click)="console(entry)">
                  <span *ngIf="entry.tagType == 'text'">
                    {{entry.content}}

                  </span>
                  <span *ngIf="entry.tagType == 'SPAN'">
                    {{entry.content}}
                  </span>
                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'EmojiType'">
                    {{entry.content}}
                  </span>

                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'NameType'"
                    class={{entry.attributes[3].value}} (mouseenter)="showInfoOutput(index, i)"
                    (mouseleave)="hideInfoOutput()">
                    {{entry.content}}
                    <span class="infoBox"
                      *ngIf="entry.linkInfo[0].nameType == 'NameType' && showInfoBox == createInfoId(index, i)">
                      <span>{{ entry.linkInfo[0].name }}</span>
                      <span>{{ entry.linkInfo[0].emailContent }}</span>
                    </span>
                  </span>

                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'FileType'"
                    class={{entry.attributes[3].value}} (mouseenter)="showInfoOutput(index, i)"
                    (mouseleave)="hideInfoOutput()">
                    {{entry.content}}
                    <span class="infoBox"
                      *ngIf="entry.linkInfo[0].nameType == 'FileType' && showInfoBox == createInfoId(index, i)">
                      <div style="display: flex; justify-content: space-evenly; width: 100%;">
                        <div class="element" title="Datei in neuen Tab öffnen">
                          <mat-icon
                            (click)="inputService.openInNewTab(entry.linkInfo[0].linkTaget)">open_in_browser</mat-icon>
                        </div>
                      </div>
                      <img src={{entry.linkInfo[0].linkTaget}} alt="" *ngIf="!inputService.fileIsPDF(entry.content)">
                      <img src="../../assets/img/PDF.png" alt="" *ngIf="inputService.fileIsPDF(entry.content)">
                    </span>
                  </span>
                </div>
              </div>

            </div>
            <div class="reaction-bar-right">
              <div class="reactions" id="reactionBarRight" *ngIf="message.messageEmojis.length >= 1">
                <div id="reactionsRight">
                  <span>
                    {{ message.messageEmojis }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="channelMessages.messageData[i].amountAnswers > 0"
            style="position: absolute; right: 100px; margin-left: 16px; display: flex; justify-content: flex-end; gap: 10px;">
            <span style="display:flex; justify-content: flex-end; cursor: pointer; color: #797ef3; font-size: 15px"
              (click)="channelMessages.openAnswer(i)" *ngIf="channelMessages.messageData[i].amountAnswers < 2">
              {{ channelMessages.messageData[i].amountAnswers }} Antwort </span>
            <span style="display:flex; cursor: pointer; color: #797ef3; font-size: 15px"
              (click)="channelMessages.openAnswer(i)" *ngIf="channelMessages.messageData[i].amountAnswers >= 2">
              {{ channelMessages.messageData[i].amountAnswers }} Antworten </span>
            <span style="font-size: 13px;">Letzte Antwort {{ channelMessages.messageData[i].lastClockTime }}</span>
          </div>
        </div>
      </div>

      <div>

      </div>

    </div>
  </div>
</div>