<div class="thread-content">

  <div class="empty-chat-message" *ngIf="isChannelEmpty">
    <ng-container *ngIf="dialogAdd.tagsData && varService.selectedChannel">
      <h2>
        {{ dialogAdd.tagsData[varService.selectedChannel].name[0] }}
        {{ dialogAdd.tagsData[varService.selectedChannel].name.slice(1) }}
      </h2>
      <span>
        Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
      </span>
      <ng-container>
        <a>
          {{ dialogAdd.tagsData[varService.selectedChannel].name[0] }}
          {{ dialogAdd.tagsData[varService.selectedChannel].name.slice(2) }}
        </a>
      </ng-container>
    </ng-container>
  </div>

  <div *ngFor="let message of channelMessages.messageData, let i = index">
    <div *ngIf="message.channelId == this.dialogAdd.tagsData[this.dialogAdd.channelIndex].id">

      <div class="timeline-container">
        <div
          *ngIf="i !== 0 && channelMessages.messageData[i-1].dateString != channelMessages.messageData[i].dateString">
          <div class="timeLine">
            <span class="timeLineHead">
              {{ timelinesService.createTimlineText(message.dateString)}}
            </span>
          </div>
        </div>

        <div *ngIf="i == 0">
          <div class="timeLine">
            <span class="timeLineHead">
              {{ timelinesService.createTimlineText(message.dateString)}}
            </span>
          </div>
        </div>

      </div>

      <div class="full-message-left">
        <!-- Zeige Nachrichten auf der linken Seite des ausgewählten Kanals an -->

        <div class="single-message-left-container" *ngIf="message.userName != this.dataService.loggedInUserData.name"
          (mouseover)="onHover(i)" (mouseout)="onHoverEnd()">

          <div class="interaction-bubble-left" [style.display]="hoveredIndex === i ? 'block' : 'none'"
            [style.transition]="'display 125ms ease-in-out'">
            <div class="interaction-bubble-emoji">
              <img ngDefaultControl (click)="emojiPickerLeft= !emojiPickerLeft;"
                src="./../../../../assets/img/reaction.png">
              <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="emojiPickerLeft"
                (emojiSelect)="addEmoji($event,i)" title="Choose your emoji">
              </emoji-mart>
            </div>
            <div (click)="channelMessages.openAnswer(i)">
              <mat-icon class="interaction-bubble-comment">
                comment
              </mat-icon>
            </div>
            <div></div>
            <div></div>
          </div>

          <div class="avatar-left">
            <img src="{{ message.userImg }}">
          </div>

          <div class="message-details-left">

            <div class="name-time">
              <div class="name">{{ message.userName }}</div>
              <div class="time">{{ message.dateString }} {{ message.clockString }}</div>
            </div>

            <div class="message-content-left">
              <!-- {{ message.content }} -->
              <!-- testarea new message Data format -->

              <div class="outputBox">
                <div class="output" *ngFor="let entry of message.content; let index = index" (click)="console(entry)">
                  <span *ngIf="entry.tagType == 'text'">
                    {{entry.content}}

                  </span>
                  <span *ngIf="entry.tagType == 'SPAN'">
                    {{entry.content}}
                  </span>
                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'EmojiType'">
                    {{entry.content}}
                  </span>

                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'NameType'"
                    class={{entry.attributes[3].value}} (mouseenter)="showInfoOutput(index, i)"
                    (mouseleave)="hideInfoOutput()">
                    {{entry.content}}
                    <span class="infoBox"
                      *ngIf="entry.linkInfo[0].nameType == 'NameType' && showInfoBox == createInfoId(index, i)">
                      <span>{{ entry.linkInfo[0].name }}</span>
                      <span>{{ entry.linkInfo[0].emailContent }}</span>
                    </span>
                  </span>

                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'FileType'"
                    class={{entry.attributes[3].value}} (mouseenter)="showInfoOutput(index, i)"
                    (mouseleave)="hideInfoOutput()">
                    {{entry.content}}
                    <span class="infoBox"
                      *ngIf="entry.linkInfo[0].nameType == 'FileType' && showInfoBox == createInfoId(index, i)">
                      <div style="display: flex; justify-content: space-evenly; width: 100%;">
                        <div class="element" title="Datei in neuen Tab öffnen">
                          <mat-icon class="mat-icon"
                            (click)="inputService.openInNewTab(entry.linkInfo[0].linkTaget)">open_in_browser</mat-icon>
                        </div>
                      </div>
                      <img src={{entry.linkInfo[0].linkTaget}} alt="" *ngIf="!inputService.fileIsPDF(entry.content)">
                      <img src="../../assets/img/PDF.png" alt="" *ngIf="inputService.fileIsPDF(entry.content)">
                    </span>
                  </span>

                </div>
              </div>

              <!-- testarea new message Data format  end-->
            </div>


            <div class="reaction-bar-left">
              <div id="reactionBarLeft" *ngIf="chatEmojiLeft">
                <div matTooltip='{{ dataService.loggedInUserData.name }}' class="reactions">
                  <span>{{ reactionArrLeft }}</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="channelMessages.messageData[i].amountAnswers > 0">
            <span [class.resposivView]="varService.getInnerBrowserWidth() <= 800"
              (click)="channelMessages.openAnswer(i)">
              {{ channelMessages.messageData[i].amountAnswers }} Antworten
            </span><br>
            <span>Letzte Antwort {{ channelMessages.messageData[i].lastClockTime }}</span><br>
          </div>
        </div>
      </div>



      <div class="full-message-right">

        <!-- Zeige Nachrichten auf der rechten Seite des ausgewählten Kanals an -->
        <div class="single-message-right-container" *ngIf="message.userName == this.dataService.loggedInUserData.name"
          (mouseover)="onHover(i)" (mouseout)="onHoverEnd()">

          <div class="avatar-right">
            <img src="{{ dataService.loggedInUserData.img }}">
          </div>

          <div class="message-details-right">

            <div class="interaction-bubble-right" [style.display]="hoveredIndex === i ? 'block' : 'none'">
              <div class="interaction-bubble-emoji">
                <img ngDefaultControl (click)="emojiPickerRight= !emojiPickerRight;"
                  src="./../../../../assets/img/reaction.png">
                <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="emojiPickerRight"
                  (emojiSelect)="addEmoji($event, i)" title="Choose your emoji">
                  <!-- addEmoji(id oder index von nachricht) -->
                </emoji-mart>
              </div>
              <div (click)="alertMessage(); channelMessages.editOwnMessage(i)">
                <mat-icon class="interaction-bubble-comment">
                  comment
                </mat-icon>
              </div>
              <div></div>
              <div></div>
            </div>

            <div class="name-time">
              <div class="name"> {{ message.userName }} </div>
              <div class="time"> {{ message.dateString }} {{ message.clockString }}</div>
            </div>

            <div class="message-content-right">
              <!-- {{ message.content }} -->

              <!-- testarea new message Data format -->

              <div class="outputBox">
                <div class="output" *ngFor="let entry of message.content; let index = index" (click)="console(entry)">
                  <span *ngIf="entry.tagType == 'text'">
                    {{entry.content}}

                  </span>
                  <span *ngIf="entry.tagType == 'SPAN'">
                    {{entry.content}}
                  </span>
                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'EmojiType'">
                    {{entry.content}}
                  </span>

                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'NameType'"
                    class={{entry.attributes[3].value}} (mouseenter)="showInfoOutput(index, i)"
                    (mouseleave)="hideInfoOutput()">
                    {{entry.content}}
                    <span class="infoBox"
                      *ngIf="entry.linkInfo[0].nameType == 'NameType' && showInfoBox == createInfoId(index, i)">
                      <span>{{ entry.linkInfo[0].name }}</span>
                      <span>{{ entry.linkInfo[0].emailContent }}</span>
                    </span>
                  </span>

                  <span *ngIf="entry.tagType == 'A' && entry.linkInfo[0].nameType == 'FileType'"
                    class={{entry.attributes[3].value}} (mouseenter)="showInfoOutput(index, i)"
                    (mouseleave)="hideInfoOutput()">
                    {{entry.content}}
                    <span class="infoBox"
                      *ngIf="entry.linkInfo[0].nameType == 'FileType' && showInfoBox == createInfoId(index, i)">
                      <div style="display: flex; justify-content: space-evenly; width: 100%;">
                        <div class="element" title="Datei in neuen Tab öffnen">
                          <mat-icon
                            (click)="inputService.openInNewTab(entry.linkInfo[0].linkTaget)">open_in_browser</mat-icon>
                        </div>
                      </div>
                      <img src={{entry.linkInfo[0].linkTaget}} alt="" *ngIf="!inputService.fileIsPDF(entry.content)">
                      <img src="../../assets/img/PDF.png" alt="" *ngIf="inputService.fileIsPDF(entry.content)">
                    </span>
                  </span>

                </div>
              </div>
              <!-- testarea new message Data format  end-->
              
            </div>
            <div class="reaction-bar-right">
              <div class="reactions" id="reactionBarRight" *ngIf="chatEmojiRight"> <!-- id's stimmen nicht-->
                <div id="reactionsRight" matTooltip='{{this.dataService.loggedInUserData.name}}'>
                  <!--  reagierter User-->
                  <span *ngIf="this.reactionArrRight.length <= 1"> {{ this.channelMessages.messageEmojis }} </span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="channelMessages.messageData[i].amountAnswers > 0" style="margin-left:16px">
            <span style="display:flex">{{ channelMessages.messageData[i].amountAnswers }} Antworten <h3 style="color:red;margin:0 8px">hier soll man die Antworten öffnen können</h3></span><br>
            <span>Letzte Antwort {{ channelMessages.messageData[i].lastClockTime }}</span><br>

          </div>
        </div>
      </div>

      <div>

      </div>

    </div>
  </div>
</div>