<mat-card>
    <mat-card-header>
        <div class="searchContainer">
            <input type="search" placeholder="Search" [(ngModel)]="searchField" (ngModelChange)="searchFunction()">
            <mat-icon>search</mat-icon>
        </div>
        <nav>
            <span [title]="this.emojiGroupList[0]" (click)="showGroup(0)">
                <mat-icon [class.colorBlue]="selectedGroup == 0">sentiment_satisfied_alt</mat-icon>
            </span>
            <span [title]="this.emojiGroupList[1]" (click)="showGroup(1)">
                <mat-icon [class.colorBlue]="selectedGroup == 1">emoji_people</mat-icon>
            </span>
            <span [title]="this.emojiGroupList[2]" (click)="showGroup(2)">
                <mat-icon [class.colorBlue]="selectedGroup == 2">pets</mat-icon>
            </span>
            <span [title]="this.emojiGroupList[3]" (click)="showGroup(3)">
                <mat-icon [class.colorBlue]="selectedGroup == 3">local_cafe</mat-icon>
            </span>
            <span [title]="this.emojiGroupList[4]" (click)="showGroup(4)">
                <mat-icon [class.colorBlue]="selectedGroup == 4">public</mat-icon>
            </span>
            <span [title]="this.emojiGroupList[5]" (click)="showGroup(5)">
                <mat-icon [class.colorBlue]="selectedGroup == 5">sports_baseball</mat-icon>
            </span>
            <span [title]="this.emojiGroupList[6]" (click)="showGroup(6)">
                <mat-icon [class.colorBlue]="selectedGroup == 6">tablet_mac</mat-icon>
            </span>
            <span [title]="this.emojiGroupList[7]" (click)="showGroup(7)">
                <mat-icon [class.colorBlue]="selectedGroup == 7">call_made</mat-icon>
            </span>
            <span [title]="this.emojiGroupList[8]" (click)="showGroup(8)">
                <mat-icon [class.colorBlue]="selectedGroup == 8">flag</mat-icon>
            </span>
        </nav>

    </mat-card-header>

    <mat-card-content *ngIf="!searchfieldActive">
        <div *ngFor="let group of allEmojisGroups; let i=index;" >
            <h3 id="emoji{{i}}" *ngIf="selectedGroup == i">{{this.emojiGroupList[i]}} </h3>
            <div class="emojisDivOuter" *ngIf="selectedGroup == i">
                <div *ngFor="let x of group; let i=index;">
                    <div class="emojiDiv">
                        <span (mouseover)="showInFooter(x)" (mouseleave)="notShowFooter()" (click)="setEmoji(x)">
                            {{x.emoji}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>

    <mat-card-content *ngIf="searchfieldActive">
        <div>
            <div class="emojisDivOuter">
                <div *ngFor="let x of searchResults; let i=index;">
                    <div class="emojiDiv">
                        <span (mouseover)="showInFooter(x)" (mouseleave)="notShowFooter()" (click)="setEmoji(x)">
                            {{x.emoji}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>

    <mat-card-footer>
        <div class="infoContainer">
            <div class="infoEmoji">
                <span>{{footerEmoji}}</span>
            </div>
            <div class="infoText">
                <span>{{footerName}}</span>
                <span>{{footerGroup}}</span>
            </div>
        </div>
    </mat-card-footer>
</mat-card>
