@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
  }
  
  
  mat-card {
    width: 325px;
    height: 430px;
    background-color: white;
    padding: 10px;
    padding-top: 0px !important;
    border: 1px solid rgba(0, 0, 0, 0.5);
  
    mat-card-header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: white;
      gap: 5px;
      padding: 10px !important;
  
      .searchContainer{
        display: flex; 
        position: relative; 
        width: 100%; 
        justify-content: center;
  
        input{
          padding: 10px 28px 10px 10px;
          width: 94%;
          font-size: 18px;
        }
  
        mat-icon{
          color: black;
          position: absolute; 
          top: 10px; 
          right: 15px;
        }
  
      }
  
      nav{
  
        mat-icon{
          color: blue;
        }
  
        a{
          font-size: 24px; 
          // text-decoration: none;
          &:hover{
            border-bottom: 1px solid blue;
          }
  
          mat-icon{
            color: black;
          }
        }
      }
    }
  
    mat-card-content {
      margin-top: 10px;
      overflow: hidden;
      overflow-y: scroll;
      height: 244px;
  
      div{
  
        h3{
          margin-block-start: 0px;
          margin-block-end: 0px;
        }
  
        .emojisDivOuter {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
        
          div {
            &:hover {
              background-color: rgba(0, 0, 0, 0.2);
            }
        
            .emojiDiv {
              font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont,
                'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
                'Segoe UI Emoji', 'Segoe UI Symbol';
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 24px;
              width: 40px;
              height: 40px;
              cursor: pointer;
            }
          }
        }
      }
    }
  
    mat-card-footer{
      display: flex; 
      height: 40px; 
      width: 100%; 
      border-top: 1px solid rgba(0,0,0,0.5);
  
      .infoContainer{
        display: flex; 
        justify-content: flex-start; 
        align-items: center; 
        margin-top: 16px;
  
        .infoEmoji{
          display:flex; 
          justify-content: center; 
          align-items: center; 
          height: 100%; 
          width: 30px;
  
          span{
            font-size: 20px;
          }
        }
  
        .infoText{
          display: flex; 
          flex-direction: column;
          width: calc(100% - 30px);
          
  
          span{
            width: 100%;
            font-size: 14px;
          }
        }
      }
    }
  
  
  }
  
  // ::-webkit-scrollbar {
  //   width: 0px;
  // }
  