<form class="responsiveSearchBar" [formGroup]="responsiveSearchBar">
  <input type="text" formControlName="searchTerm" class="input-searchbar" placeholder="Gehe zu..."
    (keyup)="getSearchValue()">
  <img src="../assets/img/search-icon.png" alt="">
  <div *ngIf="channelSearch || termSearch || emailSearch" class="findingsList">
    <ul>
      <li *ngFor="let finding of findingsArray" (click)="openApplicableChat(finding.index, finding.type)">
        <span *ngIf="finding.type == 'name'">{{finding.term}}</span>
        <span *ngIf="finding.type == 'email'">@ {{finding.term}}</span>
        <span *ngIf="finding.type == 'channel'">{{finding.term}}</span>
      </li>
    </ul>
  </div>
</form>