.headMembers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.03);
  .messageToUserContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    width: auto;
    height: 58px;
    border-radius: 30px;
    margin-left: 32px;
    margin-top: 8px;
    transition: background-color 300ms ease-in-out;
    cursor: pointer;
    &:hover{
        transition: background-color 300ms ease-in-out;
        background-color: #ECEEFE;
    }
    div {
      position: relative;
      width: 50px;
      height: 50px;
      margin-left: 8px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
      }
      .activeDot {
        position: absolute;
        top: 35px;
        left: 30px;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        border: 2px solid white;
      }
    }
    span {
      font-family: "Nunito";
      font-weight: 700;
      font-size: 24px;
      margin-right: 8px;
    }
    .option{
      position: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 !important;
      transform: scaleX(-1);
    }
  }
}

