.user-overview {
    position: fixed;
    top: 100px;
    right: 3%;
    background-color: #ffffff;
    border-radius: 30px;

    .user-profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-overview-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0px;
            width: 95%;

            span {
                font-size: 22px;
                color: #000000;
            }

            .close-icon {
                object-fit: contain;
                width: 12px;
                height: 12px;
                padding: 8px;
                cursor: pointer;

                &:hover {
                    padding: 8px;
                    background-color: #6c72e463;
                    border-radius: 50%;
                }
            }
        }

        .user-img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            cursor: pointer;
        }

        .input-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 12px;

            .edit-description {
                display: flex;
                align-items: center;
                gap: 15px;
                justify-content: flex-start;
                width: 80%;
                padding-bottom: 10px;
                color: #000000;
                font-size: 18px;
            }


            .header-input {
                width: 80%;
                height: 52px;
                border-radius: 30px;
                border: 2px solid #ADB0D9;
                padding-inline-start: 12px;
                font-size: 16px;
                color: #686868;
            }
        }

        .btn-container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 16px;

            .cancel-btn {
                height: 50px;
                padding: 12px 25px;
                border-radius: 50px;
                color: #444DF2;
                background-color: transparent;
                font-size: 18px;
                border: 1px solid #444DF2;
                cursor: pointer;

                &:hover {
                    background-color: #444DF2;
                    color: white;
                }
            }

            .save-btn {
                height: 50px;
                padding: 12px 25px;
                border-radius: 50px;
                background-color: #444DF2;
                color: #ffffff;
                font-size: 18px;
                cursor: pointer;
                border: none;

                &:hover {
                    background-color: #444df2a3;
                }
            }
        }


    }

}