.loginContainer {
    height: 100vh;
    background-color: #ECEEFE;

    .loginHead {
        display: flex;
        justify-content: flex-end;
        padding-top: 75px;
        padding-right: 75px;
        padding-left: 75px;

        img {
            width: 242.11px;
            height: 70px;
        }

        .loginHeadLinks {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;

            span {
                font-family: 'Nunito Sans';
                font-weight: 400;
                font-size: 18px;
                line-height: 24.55px;
            }

            .span2 {
                height: 42px;
                border-radius: 100%;
                font-family: 'Figtree';
                font-weight: 400;
                font-size: 18px;
                color: #797EF3;
                cursor: pointer;
            }
        }
    }

    .card {
        display: flex;
        justify-content: center;
        margin-top: 11px;

        // form{
        //     height: 71.203vh;
        //     // width: 31.56vw;
        //     overflow: hidden;
        // }

        mat-card {
            max-width: 606px;
            max-height: 769px;
            border-radius: 30px;
            background-color: white;
            align-items: center;
            

            mat-card-header {
                margin-bottom: 46px;

                mat-card-title {
                    margin-top: 34px;
                    margin-bottom: 30px;
                    padding: 0px 52px;
                    font-family: 'Nunito Sans';
                    text-align: center;
                    font-weight: 700;
                    font-size: 46px;
                    line-height: 55.2px;
                    color: #444DF2;
                }

                mat-card-subtitle {
                    padding: 0px 52px;
                    font-family: 'Nunito Sans';
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                }

            }

            .inputContainer{
                height: 100px; 
                width: 100%;

                .inputInner{
                    display: flex; 
                    justify-content: center; 
                    align-items: center;
                    position: relative; 
                    width: 100%; 
                    gap: 10px;

                    input{
                        width: calc(100% - 207.2px); 
                        height: 34.8px; 
                        border-radius: 100px; 
                        border: 1px solid #7E83F5;
                        padding: 11px 32px 11px 66px; 
                        gap: 10px; 
                        background-color: #ECEEFE; 
                        font-family: 'Nunito'; 
                        font-weight:500; 
                        font-size: 18px;
                        cursor: pointer;
                    }

                    img{
                        position: absolute; 
                        left: 85px; 
                        width: 24px; 
                        height: 24px; 
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.warnContainer{
    color: #ED1E79; 
    font-size: 16px;

    span{
        padding: 0px 52px;
    }
}

.forgotPassword{
    font-family: 'Figtree'; 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 21.6px; 
    color: #797EF3; 
    margin: 0px;
    cursor: pointer;
}

.orOuterContainer{
    display: flex; 
    width: calc(100% - 104px); 
    align-items: center; 
    margin: 65px 0px;

    .line{
        border: 1px solid black; 
        width: calc(50% - 41.35px); 
        height: 0px;
    }

    span{
        font-family: 'Nunito'; 
        font-weight:400; 
        font-size: 18px; 
        line-height: 24.55px; 
        padding: 0px 16px;
    }
}

.googleButton{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: calc(100% - 106.7px); 
    height: 60px; 
    border-radius: 100px; 
    border: 1px solid #7E83F5;
    padding: 11px 32px 11px 32px; 
    gap: 10px; 
    background-color: #ECEEFE;
    cursor: pointer;

    span{
        font-family: 'Nunito'; 
        font-weight:400; 
        font-size: 18px; 
        color: #444DF2;
    }
}

mat-card-actions{
    margin: 43px 0px; 
    gap: 30px;

    .submitBtn{
        border-radius: 25px; 
        font-family: 'Nunito'; 
        font-weight:700; 
        font-size: 18px; 
        line-height: 24.55px;
        cursor: pointer;
    }

    .guestBtn{
        border-radius: 25px; 
        padding: 12px, 25px, 12px, 25px; 
        color: #444DF2; 
        font-family: 'Nunito'; 
        font-weight:700; 
        font-size: 18px; 
        line-height: 24.55px;
        cursor: pointer;
    }
}