<div class="loginContainer">

    <div class="loginHead">
        <img src="../../assets/img/Login/Logo.png">
        <div class="loginHeadLinks">
            <span>Neu bei DABubble?</span>
            <span class="span2">Konto erstellen</span>
        </div>
    </div>

    <div class="card">
        <form  [formGroup]="loginForm" (submit)="loginWithEmailAndPassword()">
            <!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Anmeldung</mat-card-title>
                    <mat-card-subtitle>
                        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
                        verwendest.
                    </mat-card-subtitle>
                </mat-card-header>

                <div class="inputContainer">
                    <div class="inputInner">
                        <input type="email" placeholder="beispielname@email.com" formControlName="email">
                        <img src="../../assets/img/Login/mail.png" style="position: absolute; left: 85px;">
                    </div>
                    <div *ngIf="loginForm.controls['email'].dirty && loginForm.controls['email'].touched"
                        class="warnContainer">
                        <span *ngIf="loginForm.controls['email'].errors" style="padding: 0px 52px;">Diese Email-Adresse ist leider ungültig.</span>
                    </div>
                </div>

                <div class="inputContainer">
                    <div class="inputInner">
                        <input type="password" placeholder="Passwort" formControlName="password">
                        <img src="../../assets/img/Login/lock.png" style="position: absolute; left: 85px;">
                    </div>
                    <div *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].touched"
                        class="warnContainer">
                        <span *ngIf="loginForm.controls['password'].errors" style="padding: 0px 52px;">Falsches Passwort, bitte nocheinmal
                            versuchen.</span>
                    </div>
                </div>

                <p  class="forgotPassword" [routerLink]="['forgot_password']">Passwort vergessen?</p>

                <div class="orOuterContainer">
                    <div class="line"></div>
                    <span>ODER</span>
                    <div class="line"></div>
                </div>

                <button  [disabled]="loading" class="googleButton" (click)="loginWithGoogle()">
                    <img src="../../assets/img/Login/Google.png"> 
                    <span>Anmelden mit Google</span>
                </button>

                <mat-card-actions align="end">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="!loginForm.valid || loading" class="submitBtn">Anmelden</button>
                    <button mat-raised-button color="secondary" class="guestBtn" (click) ="guestLogin()" type="button">Gäste-Login</button>
                </mat-card-actions>
            </mat-card>

        </form>

    </div>


</div>