<div class="channelEditionContainer">
    <div class="contentContainer">
        <div class="head">
            <div class="chanel">
                <h2 class="nunito-700-18">Channel erstellen</h2>
            </div>
            <!-- <div class="close"><img src="assets/img/close.png" alt="" /></div> -->
            <div class="close" (click)="closeDialog()">x</div>
        </div>
        <span class="nunito-700-14">Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing
            zum Beispiel.</span>
        <div class="channelNameContainer">            
            <div class="title">                
                <span class="nunito-700-18 pd-bottom">Channel-Name</span>
                <input id="input-AddChannel" [(ngModel)]="newTag" [placeholder]="'z.B.Kooperationsprojekte'" type="text">
            </div>
            <div class="name">
               
            </div>
        </div>
        <div class="descriptionContainer">
            <div class="descriptionHead">
                <div>
                    <span class="nunito-700-18">Beschreibung</span><span class="optional">(optional)</span>
                </div>
                <input id="input-description" [(ngModel)]="description" [placeholder]="'Dein Text hier'" type="text">
            </div>
          
           
        </div>
        <div class="buttonContainer">
            <button class="nunito-700-18" mat-raised-button color="primary" (click)="generateTag()">
                Erstellen
            </button>
        </div>
    </div>
</div>