mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 415px;

  mat-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 335px;
    margin: 40px 0;

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      font-size: 20px;
      font-weight: 500;
      border: 100%;
      cursor: pointer;

      &:hover {
        background-color: #eceefe;
        color: #535af1;
      }
    }
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    width: 335px;

    gap: 15px;
    margin: 0 40px 40px 40px;

    .userMenu {
      position: relative;
      display: flex;
      align-items: center;
      width: fit-content;
      height: 60px;
      padding: 0 24px;
      border-radius: 40px;
      cursor: pointer;

      &:hover {
        transition: background-color 300ms;
        background-color: #eceefe;
      }

      span {
        display: flex;
        align-items: center;
        gap: 15px;
        font-family: "Nunito";
        font-weight: 400;
        font-size: 18px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 30px;
        }
      }

      .activeDot {
        position: absolute;
        top: 40px;
        left: 56px;
        width: 14px;
        height: 14px;
        border-radius: 100%;
        border: 2px solid white;
      }
    }
  }

  .userAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 35px;
    border-radius: 30px;
    margin-bottom: 40px;
    gap: 15px;
    cursor: pointer;

    &:hover {
      background-color: #eceefe;

      span {
        color: #535af1;
      }
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      border-radius: 20px;
      background-color: #eceefe;
    }

    span {
      text-align: center;
      font-family: "Nunito";
      font-weight: 400;
      font-size: 18px;
    }
  }

}

.mat-mdc-card {
  border-radius: 30px;
}

@media (max-width: 800px) {
  mat-card {
    width: unset !important;

    mat-card-title {
      justify-content: space-around !important;
      width: -webkit-fill-available !important;
      margin: 20px 0 !important;
    }

    mat-card-content {
      width: unset !important;
      margin: 0 !important;
      gap: 16px !important;
      padding-bottom: 36px !important;
    }
  }

  .mat-mdc-card {
    border-radius: unset !important;
  }
}