<mat-card>
  <mat-card-title>
    <span>Mitglieder</span>
    <div class="close" (click)="close()">X</div></mat-card-title
  >
  <mat-card-content>
    <div class="userMenu" *ngFor="let member of members; let i = index">
      <span (click)="openMember(member.dataIndex)"
        ><img [src]="member.img" /> {{ member.name }}</span
      >
      <div
        class="activeDot"
        [style.background-color]="member.online ? '#92C83E' : '#686868'"
      ></div>
    </div>
  </mat-card-content>
  <div
    class="userAdd"
    (mouseenter)="changeUserAddHover(true)"
    (mouseleave)="changeUserAddHover(false)"
    (click)="addMembers()"
  >
    <div><img [src]="imgUrl" /></div>
    <span> Mitglieder hinzufügen</span>
  </div>
</mat-card>
