<div class="inputContainer">
    <form class="example-form">
        <input matInput [formControl]="userForm" [matAutocomplete]="auto" [(ngModel)]="textarea" type="text" 
            placeholder="Antworten...">
            <mat-autocomplete #auto="matAutocomplete" >
                <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
                  {{user}}
                </mat-option>
              </mat-autocomplete>
    </form>
    <div class="icons-container">
        <div class="add-elements">
            <div class="element">
                <img src="assets/img/add.png" />
            </div>
            <div class="vector"></div>
            <div class="element">
                <img src="assets/img/satisfied.png" />
            </div>
            <div class="element">
                <img (click)="markUser()" src="assets/img/email.png" />
            </div>
        </div>
        <div class="send-icon"><img (click)="sendMessage()" src="assets/img/send_icon.png" /></div>
    </div>
</div>