<div class="inputContainer">

    <textarea [(ngModel)]="textarea" type="text" placeholder="Antworten..."></textarea>

    <div class="icons-container">
        <div class="add-elements">
            <div (click)="triggerInput()" class="element-upload">
                <input class="hidden-input" (change)="getInputDatas($event)" #uploadInput type="file">
                <img src="assets/img/add.png" />
            </div>
            <div class="vector"></div>
            <div class="element">
                <img src="assets/img/satisfied.png" />
            </div>
            <div class="element">
                <img (click)="markUser()" src="assets/img/email.png" />
            </div>
        </div>
        <div class="send-icon"><img src="assets/img/send_icon.png" /></div>
    </div>
</div>