<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nachricht</mat-label>
      <input class="input-message-edit" matInput #message [(ngModel)]="messageEdit" [ngModelOptions]="{standalone: true}" maxlength="256" placeholder="Neue Nachricht eingeben..">     
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    
    <button class="btn-message-edit" mat-raised-button color="primary" (click)="editMessage()">Bestätigen</button>
  </form>
