.example-form {
    position: relative !important;
    width: 25vw;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

mat-form-field {   
    width: 100%;
}

