<div class="header-body">
    <div class="header-logo">
        <img src="../../../assets/img/Login/Logo.png">
    </div>

    <div class="header-searchbar">
        <input class="input-searchbar" mat-icon="search" placeholder="Code learning durchsuchen">
        <div class="search-icon-container">
            <img src="../../../assets/img/search-icon.png">
        </div>
    </div>

    <div class="header-profile">

        <span> {{ list[1].name }} </span> <!-- später durch firebase ersetzen -->
        <img src="{{ list[1].img }}"> <!-- später durch firebase ersetzen -->

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu class="dropdown-menu" #menu="matMenu"> <!-- Vorgegebenes Design ändern ?? -->
            <button mat-menu-item>
                <span (click)="openProfile()">Profil</span>
            </button>
            <button mat-menu-item>
                <span (click)="logout()" >Log-out</span>
            </button>
        </mat-menu>
    </div>
</div>