<div class="header-body">
    <div class="header-logo">
        <img src="../../../assets/img/1. Logo animation.png">
    </div>

    <div class="header-searchbar">
        <input class="input-searchbar" mat-icon="search" placeholder="Code learning durchsuchen">
        <div class="search-icon-container">
            <img src="../../../assets/img/search-icon.png">
        </div>
    </div>

    <div class="header-profile">

        <span> {{ list[0].name }} </span>  <!-- später durch firebase ersetzen -->
        <img src="{{ list[0].img }}"> <!-- später durch firebase ersetzen -->

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu class="dropdown-menu" #menu="matMenu">        <!-- Design ändern ?? -->
            <button mat-menu-item>
                <span>Profile</span> <!-- mat menu einfügen -->
            </button>
            <button mat-menu-item>
                <span>Log-out</span>
            </button>
        </mat-menu>

    </div>
</div>