<div class="header-body">
  <div class="header-logo">
    <img src="assets/img/Login/Logo.png" />
  </div>

  <form class="header-searchbar">
    <input
      type="text"
      placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
      [formControl]="control"
      [matAutocomplete]="auto"
      class="input-searchbar"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      <mat-option
        *ngFor="let element of filteredArrays | async"
        [value]="element[property]"
      >
        {{ element[property] }}
      </mat-option>
    </mat-autocomplete>
  </form>

  <div class="header-profile" *ngIf="dataService.loggedInUserData">
    <span> {{ dataService.loggedInUserData.name }} </span>
    <div class="img-container">
      <img src="{{ dataService.loggedInUserData.img }}" />
      <div
        class="activeDot"
        [style.background-color]="
          dataService.loggedInUserData.online ? '#92C83E' : '#686868'
        "
      ></div>
    </div>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu class="dropdown-menu custom-menu" #menu="matMenu">
      <button mat-menu-item (click)="openProfile()">
        <span>Profil</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <span>Log-out</span>
      </button>
    </mat-menu>
  </div>
</div>
