.timeSeparatorContainer{
    width: 90%;
    height: 2px;
    margin: 32px 0;
    background-color: black;

    // .line{
    //     width: 100%;
    //     height: 2px;
    //     background-color: black;
    // }
}