.user-container {
    position: relative;
    .custom-menu {
        position: fixed !important;
        right: 3%;
        top: 100px;
        background-color: #ffffff;
        border-radius: 30px 0px 30px 30px;
    }

    .user-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 370px;
        height: 470px;
        gap: 14px;
        overflow: hidden;


        .profile-overview-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 12px;
            width: 100%;

            .close-icon {
                object-fit: contain;
                width: 12px;
                height: 12px;
                padding: 8px;
                cursor: pointer;

                &:hover {
                    padding: 8px;
                    background-color: #6c72e463;
                    border-radius: 50%;
                }
            }
        }

        .user-img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }

        .edit-div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-bottom: 20px;

            .head-span {
                text-align: center;
                font-size: 24px;
            }

            .edit-span {
                font-size: 14px;
                color: #535AF1;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    color: #343ef2;
                    font-weight: 700;
                }
            }
        }

        .activity-div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 12px;

            .online-span {
                color: #92C83E;
                font-size: 18px;
            }

            .offline-span {
                color: #686868;
                font-size: 18px;
            }
        }

        .mail-div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 12px;
        }

        .mail-span {
            color: #1381FF;
            font-size: 20px;
            cursor: pointer;
            padding-bottom: 10px;
        }

        .activity-icon {
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    position: absolute !important;
    left: 100px !important;
}