<mat-card>
  <mat-card-title>
    <div>Profil</div>
    <div class="close" (click)="close()">x</div>
  </mat-card-title>
  <mat-card-content>
    <div class="avatarContainer">
      <img src="assets/img/members/avatar1.png" />
    </div>
    <div class="name">Elise Roth</div>
    <div class="active">
      <div></div>
      <span>Online</span>
      <!-- <span>Offline</span> -->
    </div>
    <div class="email">
        <img src="assets/img/mail-icon.png">
        <span>E-Mail-Adresse</span>
    </div>
    <div class="emailAddress">noahbra@beispiel.com</div>

  </mat-card-content>
  <div class="buttonContainer">
  <button mat-raised-button color="primary">Nachricht</button>
</div>
</mat-card>
