<div class="box">
  <div class="inputDiv" contenteditable="true" placeholder="Naricht schreiben" [style.overflow-y] ="userToMessageService.showInfoBox == -1 ? 'auto':'unset'">
    <p *ngFor="let _ of userToMessageService.memberCache; let i = index" [attr.id]="'p' + i">
      <!-- Info Box -->
      <span class="infoBox" *ngIf="userToMessageService.showInfoBox == i && userToMessageService.memberCache[i].email != 'unset'">     
        <span>Name: {{ userToMessageService.memberCache[i].member }}</span
        ><span>Email: {{ userToMessageService.memberCache[i].email }}</span>
      </span>

      <span class="infoBox" *ngIf="userToMessageService.showInfoBox == i && userToMessageService.memberCache[i].filename != 'unset'"> 
        <img src={{userToMessageService.memberCache[i].filelink}} alt="" style="max-width: 100%; height: auto;">    
        <a href={{userToMessageService.memberCache[i].filelink}}>{{ userToMessageService.memberCache[i].filename }}</a>
      </span>

      <!-- Ausgewählte User -->
      <span
        class="member"
        *ngIf="i > 0 && userToMessageService.memberCache[i].number != -1 && userToMessageService.memberCache[i].number != -2"
        (mouseenter)="showInfoInput(i)"
        (mouseleave)="hideInfoInput()"
        [attr.id]="'span' + i" contenteditable="false"
        >@ {{ userToMessageService.memberCache[i].member }} 
        </span>

        {{ invisibleSign }}
        <span class="member" 
        *ngIf="i > 0 && userToMessageService.memberCache[i].number == -2 && userToMessageService.memberCache[i].number != -1"
        (mouseenter)="showInfoInput(i)"
        (mouseleave)="hideInfoInput()"
        [attr.id]="'span' + i" 
         contenteditable="false">
          {{userToMessageService.memberCache[i].filename}}
        </span>

        {{ invisibleSign }}
        <span *ngIf="userToMessageService.memberCache[i].number == -1" class="emojiSpan">
          {{userToMessageService.memberCache[i].member}}
        </span>
        
    </p>
  </div>

  <!-- User Box -->
  <div class="userBox" *ngIf="varService.sign">
    <div *ngFor="let name of dataService.userData; let i = index">
      <span class="user" (click)="selectedUser(i)">{{ name.name }}</span>
    </div>
  </div>
  

</div>
