<div class="box">
  <div class="inputDiv" contenteditable="true">
    <p *ngFor="let _ of memberCache; let i = index" [attr.id]="'p' + i">
      <!-- Info Box -->
      <span class="infoBox" *ngIf="userToMessageService.showInfoBox == i">
        <span>Name: {{ dataService.userData[calculateIndexInput()].name }}</span
        ><span>Email: {{ dataService.userData[calculateIndexInput()].email }}</span>
      </span>

      <!-- Ausgewählte User -->
      <span
        class="member"
        *ngIf="i > 0"
        (mouseenter)="showInfoInput(i)"
        (mouseleave)="hideInfoInput()"
        [attr.id]="'span' + i"
        >@ {{ memberCache[i].member }} </span
      >{{ invisibleSign }}
    </p>
  </div>

  <!-- User Box -->
  <div class="userBox" *ngIf="varService.sign">
    <div *ngFor="let name of dataService.userData; let i = index">
      <span class="user" (click)="selectedUser(i)">{{ name.name }}</span>
    </div>
  </div>
  <!-- <button class="buttonSign" (click)="addSign()">@</button> -->
  <button class="buttonSend" (click)="send()">Send</button>

</div>
