.sidenavHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-top: 16px;
  padding-right: 32px;
}

.new-Message {  
  cursor: pointer;
}
