.content {
  position: relative;

  .sidenavHeaderContainer {
    // position: absolute;
    // top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    // padding-left: 32px;
    // padding-right: 32px;
    margin-top: 16px;

    .code-learning {
      display: flex;
      align-items: center;
      margin-left: 10px;

      span {
        font-family: "Nunito";
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;

        &:hover {
          color: #535af1;
        }
      }
    }
  }

  .channelAndMessage {
    position: absolute;
    top: 92px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;

    .channels-container {
      position: relative;
      min-height: 50px;
      overflow-y: scroll;

      .channels-headline {
        position: sticky;
        top: 0;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 46px;
        margin-bottom: 16px;
        background-color: white;
        z-index: 1;
      }

      .channels-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10.5%;
        gap: 10px;

        .channels-line {
          height: 30px;
          padding: 4px 20px 4px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover {
            transition: background-color 0.1s, color 0.1s ease-in;
            border-radius: 30px;
            background-color: #eceefe;
          }

          .channel-name {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            .pointer {
              display: flex;
              align-items: center;
              gap: 10px;

              &:hover {
                color: #535af1;
              }

              .hashtag {
                font-size: 23px;
                font-weight: 500;
              }

              .afterHashtag {
                font-family: "Nunito";
                font-weight: 400;
                font-size: 18px;
              }
            }
          }
        }

        .channel-add {
          position: sticky;
          bottom: -1px;
          background-color: white;
        }
      }
    }

    .direct-messages {
      position: relative;
      overflow-y: scroll;

      .direct-messages-headline {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        height: 46px;
        align-items: center;
        padding: 16px;
        background-color: white;
        z-index: 1;
      }

      .direct-message-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10.5%;
        gap: 15px;

        .direct-message-user {
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;
          padding: 4px 20px 4px 20px;

          div {
            width: 50px;
            height: 50px;
          }

          .activeDot {
            position: absolute;
            top: 40px;
            left: 56px;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            border: 2px solid white;
          }

          .messageDot {
            display: flex;
            width: 10px;
            height: 10px;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            padding: 3px;
            background-color: #92C83E;
            border: 1px solid black;
            font-family: "Nunito";
            font-weight: 400;
            font-size: 14px;
            color: white;
            position: absolute;
            left: 62px;
            top: 5px;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 35px;
            object-fit: cover;
          }

          &:hover {
            cursor: pointer;
            transition: background-color 0.1s, color 0.1s ease-in;
            border-radius: 30px;
            background-color: #eceefe;
            color: #535af1;
          }
        }
      }
    }
  }

  .activeAtResponsive {
    @media (max-width: 800px) {
      display: none !important;
    }
  }
}

.pointer {
  cursor: pointer;
  color: var(--black, #000);
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.side-menu-head {
  display: flex;
  align-items: center;
  width: 100%;

  img {
    padding-right: 10px;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  span {
    font-family: "Nunito";
    font-size: 20px;
  }

  &:hover {
    color: #535af1;
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  // width: 12px;
  width: 0;
  // background-color: #f5f5f5;
  // border-radius: 10px;
}

// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
//   background-color: #4285f4;
// }

// .delete-tag {
//   cursor: pointer;
//   padding-right: 35px;
// }

@media (max-width: 1450px) {
  .sidenavHeaderContainer {
    padding-left: 22px !important;
    padding-right: 22px !important;

    .code-learning {
      margin-left: 0 !important;

      img {
        width: 60px;
      }

      span {
        font-size: 16px !important;
      }
    }

    .pointer-plus {
      width: 40px !important;
    }
  }

  .channels-container {
    .channels-headline {
      padding-left: 0 !important;
    }

    .channels-content {
      padding-left: 0 !important;
    }
  }

  .direct-messages-headline {
    padding-left: 0 !important;

    .pointer-name {
      width: 200px !important;
    }
  }

  .direct-message-content {
    padding-left: 0 !important;
  }

}

@media (max-width: 1150px) {
  .sidenavHeaderContainer {
    padding-right: 0 !important;

    .codeLearning {
      width: 150px !important;
    }

    .pointer-plus {
      width: 35px !important;
    }
  }

  .channels-content {
    .channel-add {
      width: 180px !important;
      margin-left: 7px;
    }
  }

  .direct-messages-headline {

    .pointer-name {
      width: 180px !important;
    }
  }

  .direct-message-user {
    padding-left: 0 !important;
    gap: 12px !important;

    span {
      font-size: 15px !important;
    }
  }

  .activeDot {
    left: 36px !important;
  }

}

@media (max-width: 1000px) {
  .sidenavHeaderContainer {
    padding-left: 0 !important;

    .code-learning img {
      width: 50px !important;
    }

    .pointer-pen {
      width: 35px !important;
    }
  }
}