.sidenavHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-top: 16px;
  padding-right: 32px;
}

.pointer {
  cursor: pointer;
  color: var(--black, #000);
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.delete-tag {
  cursor: pointer;
  padding-right: 35px;
}

.channels-container {
  width: 100%;
}

.channels-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 16px;
}

.channels-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10.5%;
  gap: 10px;
  
}

.channels-line {  
  height: 30px;
  padding: 4px 20px 4px;    
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &:hover {   
    transition: background-color 0.1s, color 0.1s ease-in;
    border-radius: 20px;
    background-color: #eceefe;
    color: #535af1;
  }
}

.channel-add {
  padding-left: 10px;
}

.channel-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;  
}

.direct-messages-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 16px;
}

.direct-message-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;  

  img {
    width: 50px;
    height: 50px;
    border-radius: 35px;
  }
}
.direct-message-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10.5%;
  gap: 20px;
  
} 
