<div class="channelEditionContainer">
  <div class="contentContainer">
    <div class="head">
      <div class="chanel">
        <div>#</div>
        <span class="nunito-700-18">Entwicklerteam</span>
      </div>
      <div class="close"><img src="assets/img/close.png" alt="" /></div>
    </div>
    <div class="channelNameContainer">
      <div class="title">
        <span class="nunito-700-18">Channel-Name</span>
        <div class="edit">Bearbeiten</div>
      </div>
      <div class="name">
        <div>#</div>
        <span class="nunito-400-18">Entwicklerteam</span>
      </div>
    </div>
    <div class="descriptionContainer">
      <div class="descriptionHead">
        <div>
          <span class="nunito-700-18">Beschreibung</span
          ><span class="edit">Bearbeiten</span>
        </div>
        <span class="nunito-400-18"
          >Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst
          du zusammen mit deinem Team Meetings abhalten, Dokumente teilen und
          Entscheidungen treffen.</span
        >
      </div>
      <div class="line"></div>
      <div class="descriptionCreator">
        <span class="nunito-700-18">Erstellt von</span>
        <span class="creator">Noah Braun</span>
      </div>
    </div>
    <div class="buttonContainer">
      <button class="nunito-700-18" mat-raised-button color="primary">
        Channel verlassen
      </button>
    </div>
  </div>
</div>
