h1 {
    text-align: center;
    padding-top: 20px;
}

.list {
    list-style: none;

    .user-list {
        display: flex;
        justify-content: space-between;
        width: 150px;
        color: black;
    }
}