.inputContainer {
  position: absolute;
  bottom: 32px;
  right: 32px;
  left: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 145px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  textarea {
    width: 90%;
    max-width: 90%;
    height: 60%;
    max-height: 60%;
    margin-top: 16px;
    margin-left: 1px;
    font-family: "Nunito";
    font-weight: 400;
    font-size: 18px;
    border: none;
    outline: none;
    resize: none;
  }
  .iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 8px;
    .addElements {
      display: flex;
      align-items: center;
      width: 135px;
      height: 30px;
      gap: 5px;
      .vector {
        width: 2px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.1);
      }
      .element {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        cursor: pointer;
        img {
          fill: red;
        }
        &:hover {
          background-color: #eceefe;
        }
      }
    }
    .sendIcon {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
