.thread-content {
  margin-left: 20px;

  .secondary-chat-container {
    position: absolute;
    top: 115px;
    bottom: 185px;
    right: 12px;
    left: 30px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }

    .full-message-left {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      .avatar-left {
        padding-top: 16px;
        width: 70px;
        height: 70px;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;

          @media (max-width: 1280px) {
            width: 50px !important;
            height: 50px !important;
            margin-right: 8px !important;
          }

          @media (max-width: 800px) {
            width: 70px !important;
            height: 70px !important;
            margin-right: 0 !important;
          }

          @media (max-width: 400px) {
            width: 50px !important;
            height: 50px !important;
          }
          
        }
      }

      .message-details-left {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
        width: 70%;

        .name-time-left {
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-end;

          .name-left {
            font-family: "nunito";
            font-size: 18px;
            font-weight: 700;
            padding-right: 20px;
          }

          .time-left {
            color: #686868;
            font-family: "nunito";
            font-size: 14px;
          }
        }

        .message-content-left {
          display: flex;
          background-color: #eceefe;
          justify-content: center;
          align-items: center;
          width: fit-content;
          min-height: 55px;
          border-top-right-radius: 30px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          padding: 0 24px;
          font-family: "Nunito", "NotoColorEmojiLimited";
          max-width: 70%;

          span {
            font-size: 14px;

            @media (max-width: 1150px) {
              font-size: 12px !important;
            }

            @media (max-width: 800px) {
              font-size: 14px !important;
            }
          }
        }

        .reaction-bar-left {
          display: flex;
          width: fit-content;
          align-items: center;
          padding-left: 10px;
          padding-bottom: 12px;
          gap: 5px;
          margin-top: 6px;

          img {
            cursor: pointer;
            padding: 5px;

            &:hover {
              background-color: #eeebeb;
              border-radius: 10px;
            }
          }

          .reactions {
            margin-right: 20px;
            border: 1px solid #adb0d9;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            padding: 3px 15px;
            width: fit-content;
          }
        }

        .reaction-column {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .emoji-mart {
            z-index: 999;
            position: relative;
            right: 100px;
          }
        }
      }
    }

    .full-message-right {
      display: flex;
      flex-direction: row-reverse;
      padding-right: 4px;

      .avatar-right {
        padding-top: 46px;
        width: 70px;
        height: 70px;

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;

          @media (max-width: 1280px) {
            width: 50px !important;
            height: 50px !important;
            margin-left: 8px !important;
          }

          @media (max-width: 800px) {
            width: 70px !important;
            height: 70px !important;
            margin-left: 0 !important;
          }

          @media (max-width: 400px) {
            width: 50px !important;
            height: 50px !important;
            margin-left: 8px !important;
          }
        }
      }

      .message-details-right {
        position: relative !important;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin-top: 20px;

        .name-time-right {
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-end;

          @media (max-width: 1150px) {
            padding-left: 16px !important;
          }

          .name-right {
            font-family: "nunito";
            font-size: 18px;
            font-weight: 700;
            padding-right: 20px;
          }

          .time-right {
            color: #686868;
            font-family: "nunito";
            font-size: 14px;
          }
        }

        .message-content-right {
          position: relative;
          display: flex;
          background-color: #797ef3;
          color: white;
          justify-content: center;
          align-items: center;
          width: fit-content;
          min-height: 55px;
          border-top-left-radius: 30px;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          padding: 0 24px;
          font-family: "Nunito", "NotoColorEmojiLimited";
          max-width: 70%;

          span {
            font-size: 14px;

            @media (max-width: 1150px) {
              font-size: 12px !important;
            }

            @media (max-width: 800px) {
              font-size: 14px !important;
            }
          }          
        }

        .reaction-bar-right {          
          display: flex;
          width: fit-content;         
          padding-top: 6px;
          gap: 5px;
          margin-bottom: 6px;         
          margin-left: 32px;         

          img {
            cursor: pointer;
            padding: 5px;
            background: transparent;
            border: 0;

            &:focus {
              outline: 0;
            }

            &:hover {
              background-color: #eeebeb;
              border-radius: 10px;
            }
          }

          .reactions {
            margin-right: 20px;
            border: 1px solid #adb0d9;
            border-radius: 20px;
            display: flex;
            justify-content: flex-end;
            padding: 3px 15px;
            width: fit-content;
            gap: 8px;
          }

          .reaction-column {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            width: 10px;

            .emoji-mart {
              z-index: 999;
              position: relative;
              left: 100px;
            }
          }
        }
      }
    }
  } 
}

.infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25px;
  width: fit-content;
  height: fit-content;
  border: 1px solid lightgrey;
  border-radius: 30px;
  padding: 16px;
  background-color: white;
  box-shadow: 5px 5px 15px -2px #000000;
  z-index: 10;

  span {
    color: black;
  }

  img {
    fill: red;
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
  }

  .element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      background-color: #eceefe;
    }

    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: unset !important;
      top: 8px;
      right: 8px;
      width: 40px;
      height: 40px;
    }
  }
}

.outputBox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  gap: 8px;
}

.output {
  display: flex;
}

@media(max-width: 1150px) {
  .full-message-right {
    .avatar-right {
      width: unset !important;
      height: 60px !important;

      img {
        width: 60px !important;
        height: 60px !important;
      }
    }

    .message-content-right {
      padding: 0 16px !important;
      margin-left: 14px !important;
      width: unset !important;

      .reactions {
        margin-left: 20px;
      }

      span {
        font-size: 14px !important;
      }
    }
  }

  .full-message-left {
    width: 80% !important;

    .avatar-left {
      width: unset !important;
      height: 60px !important;

      img {
        width: 60px !important;
        height: 60px !important;
      }
    }

    .message-content-left {
      padding: 0 16px !important;

    }
  }
}

.outputBox {
  margin: 8px !important;
}


@media (max-width: 600px) {

  .message-content-right {
    margin-top: 5% !important;
  }

  .message-content-left {
    margin-top: 5% !important;
  }
  
}