.thread-content {
    padding-top: 20px;

    .full-message-left {
        width: calc(100% - 50px);
        height: 200px;
        position: relative;
        border-bottom: 1px solid #eeebeb;

        .avatar-left {
            position: absolute;
            left: 20px;
            top: 25px;
            width: 70px;
            height: 70px;

            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
        }

        .message-details-left {
            position: absolute;
            top: 20px;
            left: 100px;
            width: 70%;
            display: flex;

            .name {
                font-family: "nunito";
                font-size: 18px;
                font-weight: 700;
                padding-right: 20px;
            }

            .time {
                color: #686868;
                font-family: "nunito";
                font-size: 14px;
            }

            .message-content-left {
                position: absolute;
                background-color: #eceefe;
                top: 50px;
                border-radius: 0 20px 20px 20px;
                width: auto;
                padding: 16px;
                
                span {
                    font-size: 16px;
                }
            }
        }

        .reaction-bar-left {
            position: absolute;
            top: 110px;
            // left: 40px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            gap: 5px;

            img {
                cursor: pointer;
                padding: 5px;

                &:hover {
                    background-color: #eeebeb;
                    border-radius: 10px;
                }
            }

            .reactions {
                margin-right: 20px;
                border: 1px solid #adb0d9;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                padding: 3px 15px;
                cursor: pointer;
            }

            .emoji-mart {
                z-index: 1;
                position: absolute;
                left: -50px;
                top: 35px;
            }
        }
    }

    .new-answers {
        color: #ADB0D9;
        position: absolute;
        left: 10%;
        display: flex;
        align-items: center;

        p {
            font-size: 18px;
            margin-bottom: 0;
            padding-right: 10px;
        }

        img {
            height: 2px;
            width: 50%;
        }
    }


    // USER MESSAGE

    .full-message-right {
        width: calc(100% - 20px);
        height: 200px;
        position: relative;
        // border-bottom: 1px solid #eeebeb;

        .avatar-right {
            position: absolute;
            right: 40px;
            top: 25px;
            width: 70px;
            height: 70px;

            img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
        }

        .message-details-right {
            position: absolute;
            top: 30px;
            right: 120px;
            width: 70%;
            display: flex;
            justify-content: flex-end;
            // flex-direction: row-reverse;

            .name {
                font-family: "nunito";
                font-size: 18px;
                font-weight: 700;
                padding-right: 20px;
            }

            .time {
                color: #686868;
                font-family: "nunito";
                font-size: 14px;
                padding-right: 20px;
            }

            .message-content-right {
                position: absolute;
                color: white;
                background-color: #797EF3;
                top: 50px;
                border-radius: 20px 0 20px 20px;
                width: auto;
                padding: 16px;
                font-size: 18px;
            }
        }

        .reaction-bar-right {
            position: absolute;
            top: 130px;
            right: 100px;
            
            display: grid;
            grid-template-columns: 100% 0%;
            width: 36%;

            img {
                cursor: pointer;
                padding: 5px;
                background: transparent;
                border: 0;
                transform: translateX(-40px);
                cursor: pointer;

                &:focus {
                    outline: 0;
                }

                &:hover {
                    background-color: #eeebeb;
                    border-radius: 10px;
                }
            }
        }
    }
}