<div class="thread-content" *ngIf="getSelectedMessageStatus()">
  <div *ngFor="let message of channelMessages.messageData; let i = index">
    <div *ngIf="channelMessages.selectedMessageIndex === i && answerService.answerData.channelId == channelMessages.messageData.channelId">
      <div class="secondary-chat-container" id="secondaryChatautoscrollContainer" #secondaryChatautoscrollContainer
        (scroll)="handleScroll($event)">
        <div *ngIf="answerService.answerData.userName === this.dataService.loggedInUserData.name">
          <div class="full-message-right">
            <div class="avatar-right">
              <img src="{{ message.userImg }}">
            </div>

            <div class="message-details-right">

              <div class="name-time-right">
                <div class="name-right">{{ message.userName }}</div>
                <div class="time">{{ message.dateString }} {{ message.clockString }}</div>
              </div>

              <div class="message-content-right">
                {{ message.content }}
              </div>
            </div>
            <!-- <div class="reaction-bar-left">
              <div id="reactionBarLeft">
                <div matTooltip='{{ dataService.loggedInUserData.name }}' class="reactions">
                  <span>{{ reactionArrLeft }}</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>

        <div *ngIf="answerService.answerData.userName != this.dataService.loggedInUserData.name">
          <div class="full-message-left">
            <div class="avatar-left">
              <img src="{{ message.userImg }}">
            </div>

            <div class="message-details-left">

              <div class="name-time-left">
                <div class="name-left">{{ message.userName }}</div>
                <div class="time">{{ message.dateString }} {{ message.clockString }}</div>
              </div>

              <div class="message-content-left">
                {{ message.content }}
              </div>
            </div>
            <!-- <div class="reaction-bar-left">
              <div id="reactionBarLeft">
                <div matTooltip='{{ dataService.loggedInUserData.name }}' class="reactions">
                  <span>{{ reactionArrLeft }}</span>
                </div>
              </div>
            </div> -->
          </div>
        </div>



        <div *ngFor="let answer of answerService.answerData">
          <div *ngIf="answer.messageId === message.messageId">
            <div *ngIf="answer.userName == this.dataService.loggedInUserData.name">
              <div class="full-message-right">
                <div class="avatar-right">
                  <img src="{{ answer.userImg }}">
                </div>

                <div class="message-details-right">
                  <div class="name-time-right">
                    <div class="name-right">{{ answer.userName }}</div>
                    <div class="time">{{ answer.dateString }} {{ answer.clockString }}</div>
                  </div>

                  <div class="message-content-right">
                    {{ answer.content }}
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="answer.userName != this.dataService.loggedInUserData.name">
              <div class="full-message-left">
                <div class="avatar-left">
                  <img src="{{ answer.userImg }}">
                </div>

                <div class="message-details-left">
                  <div class="name-time-left">
                    <div class="name-left">{{ answer.userName }}</div>
                    <div class="time">{{ answer.dateString }} {{ answer.clockString }}</div>
                  </div>

                  <div class="message-content-left">
                    {{ answer.content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>