<div class="thread-content">

  <div class="full-message-left"> <!-- ngIf - left or right +  ngIf - letzte nachricht, dann kein border-bottom-->

    <div class="avatar-left">
      <img src="./../../../../assets/img/members/avatar2.png"> <!-- changing via ts -->
    </div>

    <div class="message-details-left">

      <div class="name"> Rembrandt van Rijn </div> <!-- changing via ts -->
      <div class="time">14:25 Uhr </div> <!-- changing via ts -->

      <div class="message-content-left">
        Ist das Hard gecodet? <!-- changing via ts -->
      </div>

      <div class="reaction-bar-left">
        <img ngDefaultControl [(ngModel)]="emoji" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;"
          src="./../../../../assets/img/reaction.png">
          <br/>
          <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="isEmojiPickerVisible" 
          (emojiSelect)="addEmoji($event)" title="Choose your emoji">
          </emoji-mart>
      </div>

    </div>

    <div style="display:none;" class="new-answers">
      <p> 1 Antwort(en)</p>
      <img src="./../../../../assets/img/line.png">
    </div>

  </div>


  <!-- USER MESSAGES - RIGHT-->


  <div class="full-message-left"> <!-- ngIf letzte nachricht, dann kein border-bottom-->

    <div class="avatar-left">
      <img src="./../../../../assets/img/members/avatar1.png">
    </div>

    <div class="message-details-left">

      <div class="name"> Leonardo DaVinci </div>
      <div class="time">14:35 Uhr </div>

      <div class="message-content-left">
        Denke schon 😤
      </div>

      <div class="reaction-bar-left">
        <img ngDefaultControl [(ngModel)]="emoji" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;"
          src="./../../../../assets/img/reaction.png">
          <br/>
          <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="isEmojiPickerVisible" 
          (emojiSelect)="addEmoji($event)" title="Choose your emoji">
          </emoji-mart>
      </div>
    </div>
  </div>

  <div class="new-answers">
    <p> 2 Antwort(en)</p>
    <img src="./../../../../assets/img/line.png">
  </div>


  <div class="full-message-right"> <!-- ngIf letzte nachricht, dann kein border-bottom-->

    <div class="avatar-right">
      <img src="./../../../../assets/img/members/avatar3.png">
    </div>

    <div class="message-details-right">

      <div class="name"> Salvador Dali </div>
      <div class="time">15:05 Uhr </div>

      <div class="message-content-right">
        Nur für CSS und HTML! Bleibt cool, jungs.
      </div>

      <div class="reaction-bar-right">
       <img ngDefaultControl name="emoji" [(ngModel)]="emoji" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;"
          src="./../../../../assets/img/reaction.png">
        <br/>
        <emoji-mart ngDefaultControl class="emoji-mart" *ngIf="isEmojiPickerVisible" 
          (emojiSelect)="addEmoji($event)" title="Choose your emoji">
        </emoji-mart>
      </div>
    </div>
  </div>

</div>