<div class="headMembers">
  <span>Neue Nachricht</span>
  <div class="inputContainer">
    <form class="example-form">
      <input
        type="text"
        placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
        [matAutocomplete]="auto"
        class="example-input"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let select of dataService.userData | async"
          [value]="select.name"
        >
          {{ select.name }}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>
<!-- funktioniert noch nicht -->