<div class="headMembers">
  <span>Neue Nachricht</span>
  <div class="inputContainer">

    <form class="example-form">
      <input
        type="text"
        placeholder="Search for a street"
        [formControl]="control"
        [matAutocomplete]="auto"
        class="example-input"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let element of filteredArrays | async"
          [value]="element[property]"
        >
          {{ element[property] }}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</div>
