<mat-card>
  <mat-card-title>
    <span>Leute hinzufügen</span>
    <div class="close" (click)="close()">X</div>
  </mat-card-title>
  <mat-card-content>
    <div class="headContainer">
      <img src="assets/img/hashtag_blue.png" />
      <span> Entwicklerteam</span>
    </div>

    <div class="inputContainer">
      <input type="text" placeholder="Name eingeben" />
    </div>
    <div class="buttonContainer">
        <button mat-button>Hinzufügen</button>
    </div>
  </mat-card-content>
</mat-card>
