<mat-card>
  <mat-card-title>
    <span>Leute hinzufügen</span>
    <div class="close" (click)="close()">X</div>
  </mat-card-title>
  <mat-card-content>
    <div class="headContainer">
      <span>
        {{ tagChannel.tagsData[variableService.selectedChannel]?.name[0] }}
        {{ tagChannel.tagsData[variableService.selectedChannel]?.name.slice(1) }}
      </span>
      </div>
  <div class="inputContainer">

    <form class="example-form">
      <input
        type="text"
        placeholder="Name eingeben"
        [formControl]="control"
        [matAutocomplete]="auto"
        class="example-input"
      />
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option
          *ngFor="let element of filteredArrays | async"
          [value]="element[property]"
        >
          {{ element[property] }}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>




    <!-- <div class="inputContainer">
      <input type="text" placeholder="Name eingeben" />
    </div> -->
    <div class="buttonContainer">
        <button mat-button>Hinzufügen</button>
    </div>
  </mat-card-content>
</mat-card>
