app-conversation-between{
    animation-name: hideConversationBetween;
    animation-delay: 15s;
    animation-duration: 2s;
    opacity: 0;
}
@keyframes hideConversationBetween{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}