
<div class="forgotPasswordContainer">
    <app-start-animation></app-start-animation>
    <app-login-header></app-login-header>
    
    <div class="card">
        <form [formGroup]="forgotPasswordForm" (submit)="sendResetRequest()">
            <!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
            <mat-card>
                <img src="../../../assets/img/login/forgot_password/arrow_back_black.png" class="arrowBlack" (click)="backToLogin()">
                <div class="arrowBlue">
                    <img src="../../../assets/img/login/forgot_password/arrow_back_blue.png">
                </div>
                <mat-card-header>
                    <div class="headerOuter">
                        <mat-card-title>Passwort zurücksetzen</mat-card-title>
                        <mat-card-subtitle>
                            Bitte geben Sie Ihre E-Mail-Adresse ein.
                        </mat-card-subtitle>
                    </div>
                </mat-card-header>
                <div class="inputContainer">
                    <div class="inputInner">
                        <input type="email" placeholder="beispielname@email.com" formControlName="email">
                        <img class="inputLogo" src="../../../assets/img/login/mail.png">
                    </div>
                    <div *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].touched"
                        class="warnContainer">
                        <span class="span2" *ngIf="forgotPasswordForm.controls['email'].errors">*Diese Email-Adresse
                            ist leider ungültig.</span>
                    </div>
                </div>
                <span>
                    Wir senden Ihnen eine Email, über die Sie Ihr Passwort ändern können.
                </span>
                <div class="btnAction">
                    <button class="primaryButton" type="submit"
                        [disabled]="!forgotPasswordForm.valid || loading">E-Mail senden</button>
                </div>
            </mat-card>
        </form>
    </div>
</div>