<div class="forgotPasswordContainer">

    <app-start-animation ></app-start-animation>
    <app-login-header></app-login-header>

    <div class="card">
        <form [formGroup]="forgotPasswordForm" (submit)="sendResetRequest()">
            <!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->
            <mat-card>
                <img src="../../assets/img/Login/Forgot-Password/13. Go back.png" style="display: flex; position: absolute; top: 45px; left: 32px; cursor: pointer;" (click)="backToLogin()">
                <mat-card-header>
                    <mat-card-title>Passwort zurücksetzen</mat-card-title>
                    <mat-card-subtitle>
                        Bitte geben Sie Ihre E-Mail-Adresse ein.
                    </mat-card-subtitle>
                </mat-card-header>

                <div class="inputContainer">
                    <div class="inputInner">
                        <input type="email" placeholder="beispielname@email.com" formControlName="email">
                        <img src="../../assets/img/Login/mail.png" style="position: absolute; left: 85px;">
                    </div>
                    <div *ngIf="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.controls['email'].touched"
                        class="warnContainer">
                        <span *ngIf="forgotPasswordForm.controls['email'].errors">Diese Email-Adresse
                            ist leider ungültig.</span>
                    </div>
                </div>
                <span>
                    Wir senden Ihnen eine Email, über die
                </span>
                <span>
                    Sie Ihr Passwort ändern können.
                </span>

                <mat-card-actions align="end">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid || loading"
                        class="submitBtn">E-Mail senden</button>
                    
                </mat-card-actions>
            </mat-card>

        </form>

    </div>

</div>