.bubbleContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eceefe;
  overflow: hidden;

  .header {
    position: absolute;
    top: 0;
    right: 8px;
    left: 8px;
    height: 100px;
    background-color: #eceefe;
    margin-top: 20px;

    @media(max-width: 800px) {
      position: unset;
      height: unset;
      margin-top: 10px;
    }
  }

  .leftContainer {
    position: absolute;
    top: 100px;
    bottom: 16px;
    left: 8px;
    width: 25%;
    transition: 200ms;

    @media (max-width: 800px) {
      left: 0px;
      bottom: 0px;
      width: 100%;
      top: 80px;
    }
  }

  .leftContainerSlideOut {
    transform: translateX(-25vw);
    transition: 200ms;
  }

  .mainChatContainer {
    position: absolute;
    top: 100px;
    bottom: 16px;
    left: 25%;
    right: 25%;
    transition: 200ms;

    @media (max-width: 800px) {
      left: 0px;
    }
  }

  .slideRight {
    right: 0;
    transition: 200ms;
  }

  .slideLeft {
    left: 0;
    transition: 200ms;
  }

  .secondaryChatContainer {
    position: absolute;
    top: 100px;
    bottom: 16px;
    right: 8px;
    width: 25%;
    transition: 200ms;

    @media (max-width: 400px) {
      top: 75px !important;
      right: 0px !important;
    }
  }

  .secondarySlideOut {
    transform: translateX(25vw);
    transition: 200ms;
  }
}

.hideShowNavigationBar {
  position: absolute;
  top: 65%;
  left: -155px;
  width: 350px;
  height: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  rotate: -90deg;
  cursor: pointer;
  z-index: 2;

  &:hover {
    span {
      color: #535af1;
      transform: scale(1.02);
    }
  }

  div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    span {
      font-family: "Nunito";
      font-weight: 500;
      font-size: 20px;
      margin-left: 32px;

      img {
        margin-left: 8px;
        rotate: 90deg;
      }
    }
  }

  .maxWidth{
    position: absolute;
    top: 100px;
    bottom: 16px;
    right: 8px;
    transition: 200ms;
    width: 100% !important;
  }


}