<div class="bubbleContainer">
  <div class="header">
    <app-header></app-header>
  </div>
  <div
    class="leftContainer"
    [class.leftContainerSlideOut]="dcshService.hideNavigation"
    *ngIf="varService.getInnerBrowserWidth() >= 801 || (varService.getInnerBrowserWidth() <= 800 && varService.mainChatHead == -1)"
  >
    <app-menu-channels-workspaces></app-menu-channels-workspaces>
  </div>
  <div
    class="mainChatContainer"
    [class.slideRight]="dcshService.secondaryChatSlideOut"
    [class.slideLeft]="dcshService.hideNavigation"
    *ngIf="varService.getInnerBrowserWidth() >= 801 || (varService.getInnerBrowserWidth() <= 800 && varService.mainChatHead != -1)"
  >
    <app-main-chat *ngIf="varService.getInnerBrowserWidth() >= 801 || (varService.getInnerBrowserWidth() <= 800 && dcshService.secondaryChatSlideOut)"></app-main-chat>
  </div>
  <div
    class="secondaryChatContainer"
    [class.secondarySlideOut]="dcshService.secondaryChatSlideOut"
    [style.width]="varService.getInnerBrowserWidth() <= 800 && !dcshService.secondaryChatSlideOut  ? '100%' : '25%'"
  >
    <app-secondary-chat></app-secondary-chat>
  </div>
</div>

<mat-card class="hideShowNavigationBar" *ngIf="varService.getInnerBrowserWidth() > 800">
  <div
    (click)="hideShowNavigation()"
    (mouseenter)="changeImageOnHover(true)"
    (mouseleave)="changeImageOnHover(false)"
  >
    <span *ngIf="!dcshService.hideNavigation"
      >Workspace-Menü schließen <img [src]="imageUrl"
    /></span>
    <span *ngIf="dcshService.hideNavigation"
      >Workspace-Menü öffnen <img [src]="imageUrl"
    /></span>
  </div>
</mat-card>
