.inputContainer{
    height: 100px; 
    width: 100%;

    .inputInner{
        display: flex; 
        justify-content: center; 
        align-items: center;
        position: relative; 
        width: 100%; 
        gap: 10px;

        input{
            width: calc(100% - 207.2px); 
            height: 34.8px; 
            border-radius: 100px; 
            border: 1px solid #7E83F5;
            padding: 11px 32px 11px 66px; 
            gap: 10px; 
            background-color: #ECEEFE; 
            font-family: 'Nunito'; 
            font-weight:500; 
            font-size: 18px;
            cursor: pointer;
        }
    }
}

mat-icon{
    position: absolute; 
    right: 0px; 
    top: 16px;
}

mat-form-field{
    cursor: pointer;
    
    input{
        cursor: pointer !important;
    }
}

.warnContainer{
    position: absolute; 
    top: 55px; 
    color: crimson; 
    font-size: 12px;
}