/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*****************************************/
/* für die grobe Struktur der Oberfläche */
.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .content {
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border-radius: 30px;
    background-color: white;
  }
}
/*****************************************/

.pd-left {
  padding-left: 32px;
}

.pd-right {
  padding-right: 32px;
}

.pd-top {
  padding-top: 16px;
}

.pd-bottom {
  padding-bottom: 16px;
}
// html,
// body {
//   height: 100%;
// }

// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }




// ####   DIALOG HEADER-PROFILE   ####  //

.cdk-overlay-pane {
  position: absolute;
  top: 100px;
  right: 50px;
}

// #cdk-overlay-0 {
//   first-dropdown-menu
// }

// .mat-mdc-dialog-container .mdc-dialog__surface {
  // border-radius: 40px 0 40px 40px !important;
  // position: relative;
  // top: -230px;
  // left: 215%;
// }