/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  user-select: none;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .content {
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    border-radius: 30px;
    background-color: white;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
