header{
    width: 100%; position: sticky;
    top: 0px; left: 0px; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;

    nav{
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        gap: 10px; 
        flex-wrap: wrap;

        span{
            font-size: 24px;
            cursor: pointer;
        }
    }
}

.emojiContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    div{

        span{
            font-size: 24px;
            cursor: pointer;
        }
    }
}


::-webkit-scrollbar{
    width: 0px !important;
}