<div class="headMembers">
  <div
    class="head"
    (click)="channelEdition()"
    *ngIf="
      tagChannel?.tagsData && variableService?.selectedChannel !== undefined
    "
  >
    <span class="nameContainer">
      <span class="hashtag">
        {{
          tagChannel.tagsData[variableService.selectedChannel]?.name[0]
        }}</span
      >
      <span class="afterHashtag">
        {{
          tagChannel.tagsData[variableService.selectedChannel]?.name.slice(1)
        }}</span
      >
    </span>
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
  <div
    class="marqueeHead"
    (click)="channelEdition()"
    *ngIf="
      tagChannel?.tagsData && variableService?.selectedChannel == undefined
    "
  >
    <marquee
      ><h3>
        Hier könnte Ihr Slogan stehen!
      </h3></marquee
    >
  </div>
  <div class="membersAndAdd">
    <div class="members" (click)="showMembers()">
      <img src="assets/img/members/MembersPreviewTest.png" />
      <span>{{
        tagChannel.tagsData[variableService.selectedChannel]?.members?.length
      }}</span>
    </div>
    <div
      class="add"
      (mouseenter)="hoveredAddIcon = true"
      (mouseleave)="hoveredAddIcon = false"
      (click)="addMember()"
    >
      <img *ngIf="!hoveredAddIcon" src="assets/img/person_add.png" />
      <img *ngIf="hoveredAddIcon" src="assets/img/person_add_hover.png" />
    </div>
  </div>
</div>
